// All imported SCSS partials

@import "./partials/reset.less";      // Normalize
@import "./partials/grid.less";       // This is a modified version of the Bootstrap grid to account for MWF breakpoints and
@import "./partials/fonts.less";      // Decalaring fonts per MWF guidelines
@import "./partials/typography.less"; // Declaring all typography

.ricsbanner{
   &__container{
      padding: 0 17px;
   }
   &__content{
      background: @purple--brown;
      padding: 70px 30px 70px 80px;
      position: relative;
   }
   &__contentitle{
      .default--font();
      font-size: 36px;
      color: @ricswhite;
      line-height: 1.2;
   }
   &__contentheading{
      position: absolute;
      background: @ricswhite;
      padding: 5px 15px;
      left: 0;
      bottom: 35px;
      .default--font();
      font-size: 20px;
      font-weight: 500;
      line-height: 2;
   }
   &__contentdesc{
      .default--font();
      line-height: 1.62;
      color: @ricswhite;
   }
   &__contentauthorinfo{
      .default--font();
      line-height: 1.88;
      color: @ricswhite;
      margin-top: 50px;
   }
   &__contentauthorimgcont{
      width: 61px;
      height: 61px;
      border-radius: 50%;
      overflow: hidden;
      background: @purple--brown;
      margin-right: 25px;
      display: inline-block;
   }
   &__contentauthorname{
      display: inline-block;
   }
   &--nobannerimage{
      .ricsbanner{
         &__image{
            display: none;
         }
         &__content{
            padding: 150px 30vw 150px 15vw;
         }
         &__contentheading{
            bottom: auto;
            top: 150px;
         }
         &__contentauthorname{
            display: inline-block;
            position: relative;
            top: -25px;
         }
      }
   }
}
.ricsartbanner{
   .component--default();
   margin: 50px 0 40px;
   &__heading{
      .default--font();
      font-family: @Modus--SemiBold;
      font-size: 22px;
      line-height: 14px;
      display: inline-block;
      text-transform: uppercase;
      font-weight: normal;
   }
   &__subheading{
      margin: 30px 0 20px;
      .default--font();
      font-family: @Modus--Medium;
      font-size: 65px;
      line-height: 80px;
   }
   &__desc{
      .default--font();
      font-size: 22px;
      line-height: 35px;
   }
   &__authorname, &__authordate{
      margin: 35px 0 25px;
      .default--font();
      line-height: 36px;
      white-space: nowrap;
   }
   &__tag{
      background: @very--lightpink;
      .default--font();
      font-size: 14px;
      text-align: center;
      padding: 7px 8px;
      margin: 10px 3px 0px 0!important;
   }
   &__tagmore{
      text-indent: -99999em;
      border: dashed 2px @charcoal--grey;
      width: 20px;
      height: 4px;
      margin-top: 26px;
   }
   &--jrnlheading{
      font-family: @Journals--Bold;
      font-size: 16px;
      line-height: 14px;
   }
   &--jrnlsubheading{
      font-family: @Journals--SemiBold;
      font-size: 42px;
      line-height: 54px;
   }
}