// All imported SCSS partials

@import "./partials/reset.less";      // Normalize
@import "./partials/grid.less";       // This is a modified version of the Bootstrap grid to account for MWF breakpoints and
@import "./partials/fonts.less";      // Decalaring fonts per MWF guidelines
@import "./partials/typography.less"; // Declaring all typography

.ricsinfographic{
   .component--default();
   &__container{
      padding: 70px 0 40px;
   }
   &__heading{
      .default--font();
      font-family: @Modus;
      font-size: 28px;
      line-height: 1.31;
   }
   &__collist{
      margin: 30px 0;
      display: flex;
      flex-wrap: wrap;
   }
   &__col{
      border-left: solid 2px @ricsblack;
   }
   &__colheading{
      .default--font();
      font-family: @Modus;
      font-size: 30px;
      font-weight: 600;
      line-height: 1.2;
   }
   &__coldesc{
      .default--font();
      padding: 15px 0 0;
      line-height: 28px;
   }
   &__desc{
      .default--font();
      float: left;
      margin: 25px 0 0;
   }
   &__super{
      font-size: 20px;
   }
}