@import "./partials/variables.less";  
@import "./partials/mixins.less";

.latestarticle{
   &__heading{
      border-bottom: solid 1px @ricsblack;
      padding-bottom: 10px;
   }
   &__card{
      margin-top: 20px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      background: @ricswhite;
      display: flex;
      position: relative;
   }
   &__cardlabel{
      position: relative;
   }
   &__cardlink{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      text-indent: -99999em;
   }
   &__cardimagecont{
      width: 45%;
      position: relative;
   }
   &__cardimage{
      width: 100%;
      height: 100%;
   }
   &__carddetail{
      padding: 15px 30px;
      width: 70%;
   }
   &__articleheading{
      margin: 15px 0 20px;
      font-weight: @xsemi--bold!important;
      width: 90%;
      position: relative;
   }
   &__articledate{
      margin-bottom: 30px;
      strong{
         margin-left: 30px;
      }
   }
   &__tag{
      background: @very--lightpink;
      .default--font();
      font-size: 12px;
      text-align: center;
      padding: 5px 10px;
      margin: 7px 3px 0px 0!important;
      display: inline-block;
   }
   &__taglink{
      color: @ricsblack;
      font-weight: normal;
   }
   &__tagcont{
      position: relative;
   }
   &__tagmore{
      text-indent: -99999em;
      width: 3px;
      height: 3px;
      display: inline-block;
      position: relative;
      top: 21px;
      left: 1px;
      background: @charcoal--grey;
      &::after{
         .tagmore();
         right: 6px;
      }
      &::before{
         .tagmore();
         left: 6px;
         
      }
   }
   &__loadbtn{
      display: block;
      margin: 100px auto 35px;
      width: 175px;
   }
}
@media (max-width: 767.98px) {
   .latestarticle{
      &__articledate{
         display: none;
      }
      &__cardimagecont{
         width: 50%;
      }
      &__cardlabel{
         position: absolute;
         left: 0;
         bottom: 0;
         background: @ricswhite;
         padding: 3px 10px;
         margin-bottom: 0;
      }
      &__carddetail{
         width: 50%;
         padding: 5px 7px;
      }
      &__articleheading{
         font-size: 11px!important;
         margin-top: 0;
      }
      &__tag{
         padding: 3px 5px!important;
         font-size: 9px!important;
      }
      &__tagmore{
         top: 20px;
         width: 2px;
         height: 2px;
         &::before{
            width: 2px;
            height: 2px;
            left: 4px;
         }
         &::after{
            width: 2px;
            height: 2px;
            right: 4px;
         }
      }
      &__loadbtn{
         margin: 50px auto 5px;
      }
   }
}