// All imported SCSS partials

@import "./partials/reset.less";      // Normalize
@import "./partials/grid.less";       // This is a modified version of the Bootstrap grid to account for MWF breakpoints and
@import "./partials/fonts.less";      // Decalaring fonts per MWF guidelines
@import "./partials/typography.less"; // Declaring all typography

.ricsnewsltr{
   margin: 70px 0 100px;
   &__container{
      justify-content: space-around;
      text-align: center;
   }
   &__heading{
      .default--font();
      font-size: 40px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      line-height: 1.25;
   }
   &__desc{
      font-size: 21px;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.43;
      margin-bottom: 15px;
   }
   &__email{
      width: 80%;
      margin-bottom: 25px!important;
   }
   &__btn{
      width: 125px;
      margin-top: 15px;
      display: inline-block;
   }
}