@import "./partials/variables.less";  
@import "./partials/mixins.less";

.ricsnewsltr{
   .component--default();
   &__container{
      justify-content: space-around;
      text-align: center;
   }
   &__inner{
      margin: 0 auto;
   }
   &__heading{
      .default--font();
      font-size: 32px;
      font-weight: 500;
      line-height: 50px;
   }
   &__desc{
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 15px;
      margin-top: 10px;
   }
   &__email{
      width: 80%;
      margin-bottom: 25px!important;
   }
   &__btn{
      width: 160px;
      padding: 7px 0;
      margin-top: 15px;
      display: inline-block;
   }
}