<!--Content as list without righ side section Start-->
<div class="container container--fluid">
    <div class="container--content container-mdm--spacing">
        <div class="rics--row flx-dir--mobclm col--auto">
            <div class="col--1"></div>
            <div class="col--7 col--fst">
                <div class="ricsartcf">
                    <div class="ricsartcf__container">
                        <div class="ricsartcf__midcol">
                            <p class="ricsartcf__content">
                                In Hong Kong, there are four principal methods of measurement prescribed by the Hong Kong Institute of Surveyors (HKIS):
                            </p>
                            <ul class="ricsartcf__lstcont">
                                <li class="ricsartcf__lst">
                                    <h6 class="ricsartcf__lsttitle">Gross floor area:</h6>
                                    <p class="ricsartcf__lstdesc">Broadly similar to gross internal area, and equal to International Property Measurement Standard (IPMS) 1 plus B (external balcony).</p>
                                </li>
                                <li class="ricsartcf__lst">
                                    <h6 class="ricsartcf__lsttitle">Saleable area: </h6>
                                    <p class="ricsartcf__lstdesc">The area exclusively allocated to a unit, including balconies but excluding common areas; equal to IPMS 1 plus B (external balcony) minus common parts minus plant room. </p>
                                </li>
                                <li class="ricsartcf__lst">
                                    <h6 class="ricsartcf__lsttitle">Lettable area: </h6>
                                    <p class="ricsartcf__lstdesc">The area exclusively allocated, including toilets and lift lobbies but excluding common areas, except where the unit is one of several making up an entire floor; equal to IPMS 3 minus half the thickness of the common wall with adjoining occupier minus difference in area from internal dominant face.</p>
                                </li>
                                <li class="ricsartcf__lst">
                                    <h6 class="ricsartcf__lsttitle">Internal floor area: </h6>
                                    <p class="ricsartcf__lstdesc">The enclosed internal space of the unit for the exclusive use of the occupier; it is measured between the internal faces of the walls and includes internal partitions and columns, and it is equivalent to IPMS 3.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col--1"></div>
            <div class="flx-alnsf--end col--3 col--lst"> </div>
        </div>
    </div>
</div>
<!--Content as list without righ side section End-->