<!--Modus Article content Banner-->
<div class="ricsartbanner">
   <div class="container container--fluid">
       <div class="container--content">
           <div class="ricsartbanner__container rics--row col--auto">
               <div class="ricsartbanner__leftcol col--1"></div>
               <div class="ricsartbanner__midcol col--7 col--fst">
                   <h2 class="ricsartbanner__heading">Modus</h2>
                   <h3 class="ricsartbanner__subheading">The best policy for P11</h3>
                   <h4 class="ricsartbanner__desc">How can we ensure that the Flexible office market keeps thriving and what went so wrong for WeWork?</h4>
                    <div class="rics--row">
                       <p class="ricsartbanner__authorname col--3">
                           <strong>Words:</strong>
                           Adam Branson
                       </p>
                       <p class="ricsartbanner__authordate col--3">
                           <strong>18 April 2020</strong>
                       </p>
                    </div>
                    <div class="ricsartbanner__tagcont rics--row col--auto">
                       <p class="ricsartbanner__tag">Tag example</p>
                       <p class="ricsartbanner__tag">Tag example</p>
                       <p class="ricsartbanner__tag">Tag example</p>
                       <p class="ricsartbanner__tag">Tag example</p>
                       <p class="ricsartbanner__tag">Tag example</p>
                    </div>
               </div>
           </div>
       </div>
   </div>
</div>

<!--Journal Article content Banner-->
<div class="ricsartbanner">
   <div class="container container--fluid">
       <div class="container--content">
           <div class="ricsartbanner__container rics--row col--auto">
               <div class="ricsartbanner__leftcol col--1"></div>
               <div class="ricsartbanner__midcol col--7 col--fst">
                   <h2 class="ricsartbanner__heading ricsartbanner--jrnlheading fnt-clr--blgrn">PROPERTY JOURNAL</h2>
                   <h3 class="ricsartbanner__subheading ricsartbanner--jrnlsubheading">Globally consistent measurement standards</h3>
                   <h4 class="ricsartbanner__desc">Widespread economic uncertainty, concerns over fire safety in the post-Grenfell era and a shrinking market.</h4>
                   <div class="rics--row">
                       <p class="ricsartbanner__authorname col--3">
                           <strong>Words:</strong>
                           Adam Branson
                       </p>
                       <p class="ricsartbanner__authordate col--3">
                           <strong>18 April 2020</strong>
                       </p>
                   </div>
                   <div class="ricsartbanner__tagcont rics--row col--auto">
                       <p class="ricsartbanner__tag">Tag example</p>
                       <p class="ricsartbanner__tag">Tag example</p>
                       <p class="ricsartbanner__tag">Tag example</p>
                       <p class="ricsartbanner__tag">Tag example</p>
                       <p class="ricsartbanner__tag">Tag example</p>
                    </div>
               </div>
           </div>
       </div>
   </div>
</div>