<div class="ricsartimgntxt">
    <div class="container container--fluid">
        <div class="container--content">
            <div class="ricsartimgntxt__container rics--row col--auto">
                <div class="ricsartimgntxt__leftcol col--1"></div>
                <div class="ricsartimgntxt__midcol col--7 col--fst col--lst">
                    <video id="ricsvideo" class="ricsartimgntxt__video" poster="/dam/images/modus__article/artilcle__2.png" controls>
                        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                        <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>
                    <span class="icon icon--play" id="playricsVideoBtn" onclick="playricsVideo()"></span>
                    <p class="ricsartimgntxt__txt fnt-clr--chrgry">WeWork at Constellation in Los Angeles, California. Photography by The We Company.</p>
                </div>
                <div class="ricsartimgntxt__leftcol col--1"></div>
                <div class="ricsartimgntxt__rhtcol flx-alnsf--end col--3 ">
                    <h6 class="ricsartimgntxt__advheading">ADVERTISEMENT</h6>
                    <img class="ricsartimgntxt__advimage" src="/dam/images/advertisement__image.svg" alt="advertisement" longdesc="advertisement" />
                </div>
            </div>
        </div>
    </div>
</div>