<!--Modules article full width image with text-->
<div class="ricsartimgntxt">
   <div class="container container--fluid">
       <div class="container--content">
           <div class="ricsartimgntxt__container rics--row col--auto">
               <div class="ricsartimgntxt__midcol col--12 col--fst col--lst">
                   <img class="ricsartimgntxt__img" src="/dam/images/modus__article/artilcle__5.png" alt="WeWork Vancouver is one of the company’s 849 locations." />
               </div>
               <div class="ricsartimgntxt__lefcol col--1"></div>
               <p class="ricsartimgntxt__txt col--7 col--fst col--lst">WeWork Vancouver is one of the company’s 849 locations.</p>
           </div>
       </div>
   </div>
</div>

<!--Journals article full width image with text-->
<div class="ricsartimgntxt">
   <div class="container container--fluid">
       <div class="container--content">
           <div class="ricsartimgntxt__container rics--row col--auto">
               <div class="ricsartimgntxt__midcol col--12 col--fst col--lst">
                   <img class="ricsartimgntxt__img" src="/dam/images/modus__article/artilcle__5.png" alt="Image description WeWork Vancouver is one of the company’s 849 locations." />
               </div>
               <div class="ricsartimgntxt__lefcol col--1"></div>
               <p class="ricsartimgntxt__txt col--7 col--fst col--lst">Image description WeWork Vancouver is one of the company’s 849 locations.</p>
           </div>
       </div>
   </div>
</div>