<div class="container container--fluid">
    <div class="container--content container-mdm--spacing">
        <div class="rics--row flx-dir--mobclm">
            <div class="col--1"></div>
            <div class="col--7 col--fst col--lst">
                <div class="ricsartcf">
                    <div class="ricsartcf__container">
                        <div class="ricsartcf__slider slider">
                            <img class="slider__img slider--fade" src="/client__librariesimages/modus__article/artilcle__4.png" alt="Article" longdesc="advertisement"/>
                            <img class="slider__img slider--fade" src="/client__librariesimages/modus__article/artilcle__4.png" alt="Article" longdesc="advertisement"/>
                            <img class="slider__img slider--fade" src="/client__librariesimages/modus__article/artilcle__4.png" alt="Article" longdesc="advertisement"/>
                            <img class="slider__img slider--fade" src="/client__librariesimages/modus__article/artilcle__4.png" alt="Article" longdesc="advertisement"/>
                            <a class="slider__arrow slider--arrowleft" onclick="gotoSlide(-1)" href="javascript:void(0);" title="Previous Slide">Previous Slide</a>
                            <a class="slider__arrow slider--arrowright" onclick="gotoSlide(1)" href="javascript:void(0);" title="Next Slide">Next Slide</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col--1"></div>
            <div class="col--3"></div>
        </div>
    </div>
</div>