<!--Table content without righ side section Start-->
<div class="container container--fluid">
    <div class="container--content container-mdm--spacing">
        <div class="rics--row flx-dir--mobclm col--auto">
            <div class="col--1"></div>
            <div class="col--7 col--fst col--lst">
                <div class="ricsarttbl">
                    <div class="ricsarttbl__container">
                        <div class="ricsarttbl__headingcont">
                            <a onclick="expandTable()" class="ricsarttbl__expndtbl icon icon--expndtbl" href="javascript:void(0);" title="Close">Close</a>
                            <p class="ricsarttbl__tablename fnt-stl--itlc">
                                Table 1.
                            </p> 
                            <p class="ricsarttbl__tablename">
                                Freeze-thaw resistance rating of new bricks
                            </p>
                        </div>
                        <div class="tbl">
                            <span class="tbl__leftline"></span>
                            <span class="tbl__rightline"></span>
                            <span class="tbl__bottomline"></span>
                            <table class="ricsarttbl__tbl tbl__tbl">
                                <thead class="tbl__head">
                                    <tr class="tbl__headrow">
                                        <th class="tbl__headcol">Frost</th>
                                        <th class="tbl__headcol">Description</th>
                                        <th class="tbl__headcol">Description</th>
                                        <th class="tbl__headcol">Description</th>
                                    </tr>
                                </thead>
                                <tbody class="tbl__body">
                                    <tr class="tbl__bodyrow">
                                        <td class="tbl__bodycol">F0</td>
                                        <td class="tbl__bodycol">Suitable for passive exposure, such as internal use.</td>
                                        <td class="tbl__bodycol">Suitable for passive exposure, such as internal use.</td>
                                        <td class="tbl__bodycol">Suitable for passive exposure, such as internal use.</td>
                                    </tr>
                                    <tr class="tbl__bodyrow">
                                        <td class="tbl__bodycol">F0</td>
                                        <td class="tbl__bodycol">Suitable for passive exposure, such as internal use.</td>
                                        <td class="tbl__bodycol">Suitable for passive exposure, such as internal use.</td>
                                        <td class="tbl__bodycol">Suitable for passive exposure, such as internal use.</td>
                                    </tr>
                                    <tr class="tbl__bodyrow">
                                        <td class="tbl__bodycol">F0</td>
                                        <td class="tbl__bodycol">Suitable for passive exposure, such as internal use.</td>
                                        <td class="tbl__bodycol">Suitable for passive exposure, such as internal use.</td>
                                        <td class="tbl__bodycol">Suitable for passive exposure, such as internal use.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col--1"></div>
            <div class="col--3"></div>
        </div>
    </div>
</div>
<!--Table content without righ side section End-->

<!--Lightbox Table content without righ side section End-->
<div id="ricsLighbox" class="ricslighbox">
    <div class="ricsarttbl">
        <div class="container container--fluid">
            <div class="container--content">
                <div class="ricsarttbl__container col--auto">
                    <a class="ricslighbox__closeicon icon icon--close" onclick="closeLightbox()" href="javascript:void(0);" title="Close">Close</a>
                    <div class="ricsarttbl__headingcont">
                        <p class="ricsarttbl__tablename fnt-stl--itlc">
                            Table 1.
                        </p> 
                        <p class="ricsarttbl__tablename">
                            Freeze-thaw resistance rating of new bricks
                        </p>
                    </div>
                    <div class="tbl">
                        <span class="tbl__leftline"></span>
                        <span class="tbl__rightline"></span>
                        <span class="tbl__bottomline"></span>
                        <table class="ricsarttbl__tbl tbl__tbl">
                            <thead class="tbl__head">
                                <tr class="tbl__headrow">
                                    <th class="tbl__headcol">Frost</th>
                                    <th class="tbl__headcol">Description</th>
                                    <th class="tbl__headcol">Description</th>
                                    <th class="tbl__headcol">Description</th>
                                </tr>
                            </thead>
                            <tbody class="tbl__body">
                                <tr class="tbl__bodyrow">
                                    <td class="tbl__bodycol">F0</td>
                                    <td class="tbl__bodycol">Suitable for passive exposure, such as internal use.</td>
                                    <td class="tbl__bodycol">Suitable for passive exposure, such as internal use.</td>
                                    <td class="tbl__bodycol">Suitable for passive exposure, such as internal use.</td>
                                </tr>
                                <tr class="tbl__bodyrow">
                                    <td class="tbl__bodycol">F0</td>
                                    <td class="tbl__bodycol">Suitable for passive exposure, such as internal use.</td>
                                    <td class="tbl__bodycol">Suitable for passive exposure, such as internal use.</td>
                                    <td class="tbl__bodycol">Suitable for passive exposure, such as internal use.</td>
                                </tr>
                                <tr class="tbl__bodyrow">
                                    <td class="tbl__bodycol">F0</td>
                                    <td class="tbl__bodycol">Suitable for passive exposure, such as internal use.</td>
                                    <td class="tbl__bodycol">Suitable for passive exposure, such as internal use.</td>
                                    <td class="tbl__bodycol">Suitable for passive exposure, such as internal use.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Lightbox Table content without righ side section End-->