<!--Video Content with righ side section as advertisement Start-->
<div class="container container--fluid">
    <div class="container--content container-mdm--spacing">
        <div class="rics--row flx-dir--mobclm col--auto">
            <div class="col--1"></div>
            <div class="col--7 col--fst col--lst">
                <div class="ricsartimgntxt">
                    <div class="ricsartimgntxt__container">
                        <div class="ricsartimgntxt__midcol">
                            <video id="ricsvideo" class="ricsartimgntxt__video" controls>
                                <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                                <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
                                Your browser does not support the video tag.
                            </video>
                            <img class="ricsartimgntxt__videoposter" onclick="playricsVideo()" src="/clientlib-baseimages/modus__article/artilcle__2.png" alt="video poster">
                            <span class="icon icon--play" id="playricsVideoBtn" onclick="playricsVideo()"></span>
                            <p class="ricsartimgntxt__txt fnt-clr--chrgry">WeWork at Constellation in Los Angeles, California. Photography by The We Company.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col--1"></div>
            <div class="flx-alnsf--end col--3">
                <div class="ricsartrightcnt">
                    <div class="ricsartrightcnt__container">
                        <div class="ricsartrightcnt__rhtcol txt-aln--ctr mob-bor--tpbt">
                            <h6 class="ricsartimgntxt__advheading">ADVERTISEMENT</h6>
                            <img class="ricsartimgntxt__advimage" src="/clientlib-baseimages/advertisement__image.svg" alt="advertisement" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Content with righ side section as advertisement End-->