<!--Modules article full width image with text-->
<div class="container container--fluid">
    <div class="container--content container-mdm--spacing">
        <div class="rics--row flx-dir--mobclm col--auto">
            <div class="col--12 col--fst col--lst">
                <div class="ricsartimgntxt">
                    <div class="ricsartimgntxt__container">
                        <div class="ricsartimgntxt__midcol">
                            <img class="ricsartimgntxt__img" src="/client__librariesimages/modus__article/artilcle__5.png" alt="Article image" longdesc="WeWork Vancouver is one of the company’s 849 locations." />
                        </div>
                        <div class="rics--row flx-dir--mobclm">
                            <div class="ricsartimgntxt__lefcol col--1"></div>
                            <p class="ricsartimgntxt__txt col--7 fnt-clr--chrgry">WeWork Vancouver is one of the company’s 849 locations.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Journals article full width image with text-->
<div class="container container--fluid">
    <div class="container--content container-mdm--spacing">
        <div class="rics--row flx-dir--mobclm col--auto">
            <div class="col--12 col--fst col--lst">
                <div class="ricsartimgntxt">
                    <div class="ricsartimgntxt__container">
                        <div class="ricsartimgntxt__midcol">
                            <img class="ricsartimgntxt__img" src="/client__librariesimages/modus__article/artilcle__5.png" alt="Article image" longdesc="Image description WeWork Vancouver is one of the company’s 849 locations." />
                        </div>
                        <div class="rics--row flx-dir--mobclm">
                            <div class="ricsartimgntxt__lefcol col--1"></div>
                            <p class="ricsartimgntxt__txt col--7 fnt-clr--chrgry">Image description WeWork Vancouver is one of the company’s 849 locations.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>