<!--Infographic content Start-->
<div class="container container--fluid full-wdh--mob">
    <div class="container--content container-mdm--spacing">
        <div class="rics--row flx-dir--mobclm bg--offwhite">
            <div class="col--1"></div>
            <div class="col--8 col--fst col--lst">
                <div class="ricsinfographic">
                    <div class="ricsinfographic__container">
                        <h5 class="ricsinfographic__heading title title-size--pmd fnt-fmly--oswald rics--row col--10">
                            Secondary Headline reads like this style used for infographic headline here
                        </h5>
                        <div class="ricsinfographic__collist col--auto">
                            <div class="ricsinfographic__col col--3">
                                <h6 class="ricsinfographic__colheading">219</h6>
                                <p class="ricsinfographic__coldesc">Number of flats in the proposed Alexandra House development</p>
                            </div>
                            <div class="ricsinfographic__col col--3">
                                <h6 class="ricsinfographic__colheading">84</h6>
                                <p class="ricsinfographic__coldesc">Number of complaints to Haringey Council about the scheme</p>
                            </div>
                            <div class="ricsinfographic__col col--3">
                                <h6 class="ricsinfographic__colheading">15m <sup>2</sup></h6>
                                <p class="ricsinfographic__coldesc">Size of the smallest flats proposed for Alexandra House</p>
                            </div>
                            <div class="ricsinfographic__col col--3">
                                <h6 class="ricsinfographic__colheading">46K</h6>
                                <p class="ricsinfographic__coldesc">Number of new homes built using change of use policy up to March 2018</p>
                            </div>
                        </div>
                        <p class="ricsinfographic__desc fnt-clr--chrgry">Extending permitted development rights in England, go to rics.org/extendingpdr</p>
                    </div>
                </div>                
            </div>
            <div class="col--3"></div>
        </div>
    </div>
</div>
<!--Infographic content End-->