<!--Half width image start-->
<div class="container container--fluid">
    <div class="container--content container-mdm--spacing">
        <div class="rics--row flx-dir--mobclm col--auto">
            <div class="col--6 col--fst mar-bot--25mob">
                <div class="ricsartimgntxt">
                    <div class="ricsartimgntxt__container">
                        <div class="ricsartimgntxt__midcol">
                            <img class="ricsartimgntxt__img" src="/clientlib-baseimages/journals__article/artilcle__2.png" alt="WeWork Vancouver is one of the company’s 849 locations." />
                            <p class="ricsartimgntxt__txt fnt-stl--itlc fnt-clr--chrgry">WeWork at Constellation in Los Angeles, California. Photography by The We Company.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col--6 col--lst">
                <div class="ricsartimgntxt">
                    <div class="ricsartimgntxt__container">
                        <div class="ricsartimgntxt__midcol">
                            <img class="ricsartimgntxt__img" src="/clientlib-baseimages/journals__article/artilcle__3.png" alt="WeWork Vancouver is one of the company’s 849 locations." />
                            <p class="ricsartimgntxt__txt fnt-stl--itlc fnt-clr--chrgry">WeWork at Constellation in Los Angeles, California. Photography by The We Company.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Half width image end-->