<!--Modus article content fragment with right side content-->
<div class="ricsartcf">
   <div class="container container--fluid">
       <div class="container--content">
           <div class="ricsartcf__container rics--row col--auto  ">
               <div class="ricsartcf__leftcol col--1"></div>
               <div class="ricsartcf__midcol col--7 col--fst">
                   <h5 class="ricsartcf__heading">
                       <span class="ricsartcf__bigfont">F</span>
                       or a long time, it seemed as though the flexible office market could do no wrong, with rapid expansion and new companies entering the market, seemingly on a weekly basis. Then cracks began to show, and people began to question whether the market was becoming overheated.
                   </h5>
                   <p class="ricsartcf__content">
                       The big story, of course, was, and still is, WeWork. The flexible office behemoth had been lauded for its rapid growth and its charismatic leader, Adam Neumann. However, having filed the papers for its initial public offering (IPO), in August last year, the company abandoned its plans after failing to attract sufficient investor interest. It was a huge climbdown and led to Neumann’s resignation. Analysts suggested that the company was running out of cash, but at the end of October it was announced that Japanese investor Softbank had agreed to stump up $5bn in new financing in  exchange for an overall 80% stake in the business (it already owned a third). 
                   </p>
                   <p class="ricsartcf__content">
                       WeWork’s latest financials appear to justify investor hesitancy: in November last year, it revealed an unadjusted loss of $1.25bn in the third quarter of 2019, up from $497m in the same period in 2018. The figures also showed that its occupancy rate was 79% – the lowest since mid-2017. However, WeWork wasn’t the only flexible office operator suffering in late 2019. In October, Central Working fell into administration, joining The Clubhouse, which was bought up by Regus owner IWG. And there was Second Home, the company set up by Rohan Silva, a former adviser to David Cameron, which had to seek new funding after suffering cost overruns on its first US development.
                   </p>
                   <p class="ricsartcf__content">
                       What this means for the flexible office sector divides opinion. At a glance, it might appear that the whole market is suffering growing pains, but Giles Fuchs, chief executive of Office Space in Town, thinks there is a pattern in the companies that have hit trouble: the leasehold model isn’t viable.
                   </p>
               </div>
               <div class="ricsartcf__leftcol col--1"></div>
               <div class="ricsartcf__rhtcol flx-alnsf--end col--3 col--lst">
                   <h6 class="ricsartcf__rhtcontent">
                       Wework wasn’t the only flexible office operator suffering in late 2019. 
                   </h6>
               </div>
           </div>
       </div>
   </div>
</div>

<!--Modus article content fragment, first character as normal and right side content sub desc with italic style-->
<div class="ricsartcf mar-bot--30">
   <div class="container container--fluid">
       <div class="container--content">
           <div class="ricsartcf__container rics--row col--auto">
               <div class="ricsartcf__leftcol col--1"></div>
               <div class="ricsartcf__midcol col--7 col--fst col--lst">
                   <h5 class="ricsartcf__heading ricsartcf--fstltrnrml">
                       <span class="ricsartcf__bigfont">“</span>
                       Quote style clients would prefer to have a business backed by an asset, but actually it can preclude expansion because it is an expensive way to grow,”
                       <span class="ricsartcf__smalldesc">
                           Douglas Green, director at flexible office advisory firm GKRE
                       </span>
                   </h5>
                   <p class="ricsartcf__content">
                       The big story, of course, was, and still is, WeWork. The flexible office behemoth had been lauded for its rapid growth and its charismatic leader, Adam Neumann. However, having filed the papers for its initial public offering (IPO), in August last year, the company abandoned its plans after failing to attract sufficient investor interest. It was a huge climbdown and led to Neumann’s resignation. Analysts suggested that the company was running out of cash, but at the end of October it was announced that Japanese investor Softbank had agreed to stump up $5bn in new financing in  exchange for an overall 80% stake in the business (it already owned a third). 
                   </p>
                   <p class="ricsartcf__content">
                       WeWork’s latest financials appear to justify investor hesitancy: in November last year, it revealed an unadjusted loss of $1.25bn in the third quarter of 2019, up from $497m in the same period in 2018. The figures also showed that its occupancy rate was 79% – the lowest since mid-2017. However, WeWork wasn’t the only flexible office operator suffering in late 2019. In October, Central Working fell into administration, joining The Clubhouse, which was bought up by Regus owner IWG. And there was Second Home, the company set up by Rohan Silva, a former adviser to David Cameron, which had to seek new funding after suffering cost overruns on its first US development.
                   </p>
               </div>
               <div class="ricsartcf__leftcol col--1"></div>
               <div class="ricsartcf__rhtcol flx-alnsf--end col--3 col--lst">
                   <h6 class="ricsartcf__rhtcontent bor-tp--0 mar-bot--0 pad-bot--0">
                       “Quote style clients would prefer to have a business backed by an asset, but actually it can preclude expansion because it is an expensive way to grow,” 
                       <span class="ricsartcf__smalldesc mar-top--30">
                           Douglas Green, director at flexible office advisory firm GKRE
                       </span>
                   </h6>
               </div>
           </div>
       </div>
   </div>
</div>

<!--Modus article content fragment, first character as normal and no right side content-->
<div class="ricsartcf mar-bot--50">
   <div class="container container--fluid">
       <div class="container--content">
           <div class="ricsartcf__container rics--row col--auto">
               <div class="ricsartcf__leftcol col--1"></div>
               <div class="ricsartcf__midcol col--7 col--fst col--lst">
                   <h5 class="ricsartcf__heading mar-top--30 ricsartcf--fstltrnrml">
                       <span class="dis--blk">No. 6</span>
                       Secondary Headline for listicle
                   </h5>
                   <p class="ricsartcf__content">
                       The big story, of course, was, and still is, WeWork. The flexible office behemoth had been lauded for its rapid growth and its charismatic leader, Adam Neumann. However, having filed the papers for its initial public offering (IPO), in August last year, the company abandoned its plans after failing to attract sufficient investor interest. It was a huge climbdown and led to Neumann’s resignation. Analysts suggested that the company was running out of cash, but at the end of October it was announced that Japanese investor Softbank had agreed to stump up $5bn in new financing in  exchange for an overall 80% stake in the business (it already owned a third). 
                   </p>
               </div>
           </div>
       </div>
   </div>
</div>

<!--Modus article content fragment, no heading, description with link and no right side content-->
<div class="ricsartcf mar-bot--200">
   <div class="container container--fluid">
       <div class="container--content">
           <div class="ricsartcf__container rics--row col--auto">
               <div class="ricsartcf__leftcol col--1"></div>
               <div class="ricsartcf__midcol col--7">
                   <p class="ricsartcf__content ricsartcf--txtlink">
                       To read the Valuation of Flexible Workspace insight paper, go to 
                       <a class="ricsartcf__link" href="javascript:void(0);" title="rics.org/flexibleworkspace">rics.org/flexibleworkspace</a>
                   </p>
               </div>
           </div>
       </div>
   </div>
</div>

<!--Journal article content fragment with right side content-->
<div class="ricsartcf">
   <div class="container container--fluid">
       <div class="container--content">
           <div class="ricsartcf__container rics--row col--auto  ">
               <div class="ricsartcf__leftcol col--1"></div>
               <div class="ricsartcf__midcol col--7 col--fst">
                   <h5 class="ricsartcf__heading ricsartcf--jrnlheading">
                       <span class="ricsartcf__bigfont">I</span>
                       n real estate, size matters. With offices in particular, size affects every element of property decision-making, from assessing workspace layout and suitability to planning and predicting likely running costs, fit-out expenses and reinstatement values. It is also a crucial factor in determining the total amount of rent an occupier will pay.
                   </h5>
                   <p class="ricsartcf__content">
                       The big story, of course, was, and still is, WeWork. The flexible office behemoth had been lauded for its rapid growth and its charismatic leader, Adam Neumann. However, having filed the papers for its initial public offering (IPO), in August last year, the company abandoned its plans after failing to attract sufficient investor interest. It was a huge climbdown and led to Neumann’s resignation. Analysts suggested that the company was running out of cash, but at the end of October it was announced that Japanese investor Softbank had agreed to stump up $5bn in new financing in  exchange for an overall 80% stake in the business (it already owned a third). 
                   </p>
                   <p class="ricsartcf__content">
                       WeWork’s latest financials appear to justify investor hesitancy: in November last year, it revealed an unadjusted loss of $1.25bn in the third quarter of 2019, up from $497m in the same period in 2018. The figures also showed that its occupancy rate was 79% – the lowest since mid-2017. However, WeWork wasn’t the only flexible office operator suffering in late 2019. In October, Central Working fell into administration, joining The Clubhouse, which was bought up by Regus owner IWG. And there was Second Home, the company set up by Rohan Silva, a former adviser to David Cameron, which had to seek new funding after suffering cost overruns on its first US development.
                   </p>
                   <p class="ricsartcf__content">
                       What this means for the flexible office sector divides opinion. At a glance, it might appear that the whole market is suffering growing pains, but Giles Fuchs, chief executive of Office Space in Town, thinks there is a pattern in the companies that have hit trouble: the leasehold model isn’t viable.
                   </p>
               </div>
               <div class="ricsartcf__leftcol col--1"></div>
               <div class="ricsartcf__rhtcol flx-alnsf--end col--3 col--lst">
                   <h6 class="ricsartcf__rhtcontent ricsartcf--jrnlrhtcontent">
                       As RICS members, we should promote trust in the profession by applying consistent and transparent standards.
                   </h6>
               </div>
           </div>
       </div>
   </div>
</div>

<!--Journal article content fragment, no heading and no right side content-->
<div class="ricsartcf mar-bot--30">
   <div class="container container--fluid">
       <div class="container--content">
           <div class="ricsartcf__container rics--row col--auto">
               <div class="ricsartcf__leftcol col--1"></div>
               <div class="ricsartcf__midcol col--7 col--fst col--lst">
                   <p class="ricsartcf__content">
                       Landlords will then often quote an efficiency for the space, which will indicate what percentage of the quoted floor area is actually available exclusively for the use of the occupier. While there is a broadly accepted definition for each basis of measurement, the way it is applied can often be quite inconsistent. So with multiple methods and interpretations for measurement, comparing properties can often be challenging, and decision-making is then neither transparent nor quick. To give an example, one landlord may choose to measure their property on a net basis, that is 100 per cent efficiency, quoting HK$1,075/m2. Another landlord may also be quoting the same rate for the same quoted area, but they measure their property on a gross basis with a 60 per cent efficiency. Effectively, this means that while the unit rate and the quoted area are the same, the actual price you are paying for the useable space in the second property is around HK$1,795/m2. 
                   </p>
                   <p class="ricsartcf__content">
                       With different efficiencies being quoted for different buildings, you cannot compare properties using the unit rate without first having made a number of adjustments to the figures. Another example of where confusion may arise is when occupiers are looking at property options. Due to the different methods of measurement that have been applied, an occupier looking for cost savings may end up taking an office at a higher unit rate than they are currently paying, or an occupier looking for a larger office may actually end up in a space that quotes a smaller area than that of their existing premises, although in actual fact it is physically larger.
                   </p>
               </div>
           </div>
       </div>
   </div>
</div>

<!--Journal article content fragment, border top heading and no right side content-->
<div class="ricsartcf mar-bot--50">
   <div class="container container--fluid">
       <div class="container--content">
           <div class="ricsartcf__container rics--row col--auto">
               <div class="ricsartcf__leftcol col--1"></div>
               <div class="ricsartcf__midcol col--7 col--fst col--lst">
                   <h5 class="ricsartcf__heading mar-bot--100  ricsartcf--jrnlheading ricsartcf--headingwithbr">
                       <span class="ricsartcf__bigfont">A</span>
                       s RICS members, we should promote trust in the profession by applying consistent and transparent standards.
                   </h5>
                   <p class="ricsartcf__content">
                       Landlords will then often quote an efficiency for the space, which will indicate what percentage of the quoted floor area is actually available exclusively for the use of the occupier. While there is a broadly accepted definition for each basis of measurement, the way it is applied can often be quite inconsistent. So with multiple methods and interpretations for measurement, comparing properties can often be challenging, and decision-making is then neither transparent nor quick. To give an example, one landlord may choose to measure their property on a net basis, that is 100 per cent efficiency, quoting HK$1,075/m2. Another landlord may also be quoting the same rate for the same quoted area, but they measure their property on a gross basis with a 60 per cent efficiency. Effectively, this means that while the unit rate and the quoted area are the same, the actual price you are paying for the useable space in the second property is around HK$1,795/m2. 
                   </p>
                   <p class="ricsartcf__content">
                       With different efficiencies being quoted for different buildings, you cannot compare properties using the unit rate without first having made a number of adjustments to the figures. Another example of where confusion may arise is when occupiers are looking at property options. Due to the different methods of measurement that have been applied, an occupier looking for cost savings may end up taking an office at a higher unit rate than they are currently paying, or an occupier looking for a larger office may actually end up in a space that quotes a smaller area than that of their existing premises, although in actual fact it is physically larger.
                   </p>
               </div>
           </div>
       </div>
   </div>
</div>

<!--Journal article content fragment, secondary heading and no right side content-->
<div class="ricsartcf mar-bot--50">
   <div class="container container--fluid">
       <div class="container--content">
           <div class="ricsartcf__container col--auto">
               <div class="rics--row">
                   <div class="ricsartcf__leftcol col--1"></div>
                   <div class="ricsartcf__midcol col--7 col--fst col--lst">
                       <h5 class="ricsartcf__heading fnt-fmly--jornal ricsartcf--scndheading">
                           <span class="ricsartcf__bigfont">S</span>
                           econdary headline of the section
                       </h5>
                       <p class="ricsartcf__content">
                           Although the building was simple in form and construction, its restoration had to be of the highest standard, achieved by following informed conservation principles. BS 7913: 2013 Guide to the Conservation of Historic Buildings was used throughout the process and all decision-making. A design and access statement was produced, along with targeted surveys of archaeology, ecology, arboriculture and structure.
                       </p>
                       <p class="ricsartcf__content">
                           The heritage impact assessment then evaluated the proposed repairs and their impact on the boathouse’s significance. With the evidence of the original materials and the arrangement of construction quite clear, it was decided that conservation that kept modern interventions hidden but well documented would be of the most benefit.
                       </p>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>

<!--Journal article content fragment, no heading, description with link and no right side content-->
<div class="ricsartcf mar-bot--200">
   <div class="container container--fluid">
       <div class="container--content">
           <div class="ricsartcf__container rics--row col--auto">
               <div class="ricsartcf__leftcol col--1"></div>
               <div class="ricsartcf__midcol col--7 col--fst col--lst">
                   <p class="ricsartcf__content col--auto fnt-stl--itlc fnt-clr--chrgry max-wdh--382 pad-lft--0">
                       Tom Parker MRICS is assistant manager, valuation and advisory services, Colliers 
                       <a class="ricsartcf__link" href="javascript:void(0);" title="rics.org/flexibleworkspace">tom.parker@colliers.com</a>
                   </p>
               </div>
           </div>
       </div>
   </div>
</div>