<div class="ricsartcf ricsartcf--scnclrlayout mar-bot--50">
   <div class="container container--fluid">
       <div class="container--content">
           <div class="ricsartcf__container col--auto ricsartcf--scdrylayout">
               <div class="rics--row">
                   <div class="ricsartcf__leftcol col--1"></div>
                   <div class="ricsartcf__midcol col--7 col--fst col--lst">
                       <h5 class="ricsartcf__heading fnt-fmly--jornal ricsartcf--scndheading">
                           <span class="ricsartcf__bigfont">S</span>
                           econdary headline of the section
                       </h5>
                       <ul class="ricsartcf__scndlistcont">
                           <li class="ricsartcf__scndlist">
                               Installation of a porta dam; that is, a small coffer dam
                           </li>
                           <li class="ricsartcf__scndlist">
                               Desilting of the boat dock
                           </li>
                           <li class="ricsartcf__scndlist">
                               Rebuilding and conserving the brickwork
                           </li>
                           <li class="ricsartcf__scndlist">
                               Resetting and repairing the stone plinths
                           </li>
                           <li class="ricsartcf__scndlist">
                               Providing structuralconnectivity for all components
                           </li>
                           <li class="ricsartcf__scndlist">
                               Repairs to posts and a replacement post
                           </li>
                           <li class="ricsartcf__scndlist">
                               Reinstatement of the horizontal rails and stickwork
                           </li>
                           <li class="ricsartcf__scndlist">
                               Structural repairs to the roof
                           </li>
                           <li class="ricsartcf__scndlist">
                               Re-slating
                           </li>
                       </ul>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>