<div class="ricsartcf">
    <div class="container container--fluid mob-mxwdh--100">
        <div class="container--content">
            <div class="ricsartcf__container rics--row col--auto">
                <div class="ricsartcf__leftcol col--1"></div>
                <div class="ricsartcf__midcol col--7 col--fst col--lst">
                    <div class="ricsartcf__slider slider">
                        <img class="slider__img slider--fade" src="/dam/images/modus__article/artilcle__4.png" alt="Article" longdesc="advertisement"/>
                        <img class="slider__img slider--fade" src="/dam/images/modus__article/artilcle__4.png" alt="Article" longdesc="advertisement"/>
                        <img class="slider__img slider--fade" src="/dam/images/modus__article/artilcle__4.png" alt="Article" longdesc="advertisement"/>
                        <img class="slider__img slider--fade" src="/dam/images/modus__article/artilcle__4.png" alt="Article" longdesc="advertisement"/>
                        <a class="slider__arrow slider--arrowleft" onclick="gotoSlide(-1)" href="javascript:void(0);" title="Previous Slide">Previous Slide</a>
                        <a class="slider__arrow slider--arrowright" onclick="gotoSlide(1)" href="javascript:void(0);" title="Next Slide">Next Slide</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>