<!--Content as list without righ side section Start-->
<div class="container container--fluid full-wdh--mob">
    <div class="container--content container-mdm--spacing">
        <div class="rics--row flx-dir--mobclm col--auto bg--sclyt container--innerspacing">
            <div class="col--1"></div>
            <div class="col--7 col--fst col--lst">
                <div class="ricsartcf">
                    <div class="ricsartcf__container">
                        <h5 class="ricsartcf__heading ricsartcf--scndheading">
                            Secondary headline of the section
                        </h5>
                        <ul class="ricsartcf__scndlistcont">
                            <li class="ricsartcf__scndlist">
                                Installation of a porta dam; that is, a small coffer dam
                            </li>
                            <li class="ricsartcf__scndlist">
                                Desilting of the boat dock
                            </li>
                            <li class="ricsartcf__scndlist">
                                Rebuilding and conserving the brickwork
                            </li>
                            <li class="ricsartcf__scndlist">
                                Resetting and repairing the stone plinths
                            </li>
                            <li class="ricsartcf__scndlist">
                                Providing structuralconnectivity for all components
                            </li>
                            <li class="ricsartcf__scndlist">
                                Repairs to posts and a replacement post
                            </li>
                            <li class="ricsartcf__scndlist">
                                Reinstatement of the horizontal rails and stickwork
                            </li>
                            <li class="ricsartcf__scndlist">
                                Structural repairs to the roof
                            </li>
                            <li class="ricsartcf__scndlist">
                                Re-slating
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col--1"></div>
            <div class="col--3"></div>
        </div>
    </div>
</div>
<!--Content as list without righ side section End-->