<!--Modus breadcrumb-->
<div class="ricsbreadcrumb container container--fluid">
    <div class="container--content">
        <div class="rics--row col--auto ">
            <nav aria-label="Breadcrumb navigation" class="ricsbreadcrumb__nav">
                <div class="ricsbreadcrumb__navlistcont">
                    <a class="ricsbreadcrumb__navlink" href="javascript:void(0);" title="Modus">Modus</a>
                    <span class="ricsbreadcrumb__navlist"> / </span>
                    <a class="ricsbreadcrumb__navlink" href="javascript:void(0);" title="Built Environment">Built Environment</a>
                    <span class="ricsbreadcrumb__navlist"> / </span>
                    Article Name
                    <a onclick="viewFullBreadcrumb()" class="ricsbreadcrumb__morelink" href="javascript:void(0);" title="more">...</a>
                </div>
            </nav>
        </div>
    </div>
</div>

<!--Journals breadcrumb-->
<div class="ricsbreadcrumb container container--fluid">
    <div class="container--content">
        <div class="rics--row col--auto">
            <nav aria-label="Breadcrumb navigation" class="ricsbreadcrumb__nav">
                <ul class="ricsbreadcrumb__navlistcont">
                    <a class="ricsbreadcrumb__navlink" href="javascript:void(0);" title="Journals">Journals</a>
                    <span class="ricsbreadcrumb__navlist"> / </span>
                    <a class="ricsbreadcrumb__navlink" href="javascript:void(0);" title="Land Journal">Land Journal</a>
                    <span class="ricsbreadcrumb__navlist"> / </span>
                    <span class="ricsbreadcrumb__navlist ricsbreadcrumb--navlast"> Article name goes here </span>
                    <a onclick="viewFullBreadcrumb()" class="ricsbreadcrumb__morelink" href="javascript:void(0);" title="more">...</a>
                </ul>
            </nav>
        </div>
    </div>
</div>