<div class="ricsbreadcrumb container container--fluid">
   <div class="container--content">
       <div class="rics--row col--auto">
           <nav class="ricsbreadcrumb__nav">
               <ul class="ricsbreadcrumb__navlistcont">
                   <li class="ricsbreadcrumb__navlist">
                       <a class="ricsbreadcrumb__navlink" href="javascript:void(0);" title="Modus">Modus</a>
                   </li>
                   <li class="ricsbreadcrumb__navlist"> / </li>
                   <li class="ricsbreadcrumb__navlist">
                       <a class="ricsbreadcrumb__navlink" href="javascript:void(0);" title="Built Environment">Built Environment</a>
                   </li>
                   <li class="ricsbreadcrumb__navlist"> / </li>
                   <li class="ricsbreadcrumb__navlist ricsbreadcrumb--navlast"> Article Name </li>
               </ul>
           </nav>
       </div>
   </div>
</div>