<footer class="ricsfooter">
    <div class="container container--fluid">
        <div class="container--content">
            <div class="rics--row flx-dir--mobclm">
                <div class="ricsfooter__left col--4">
                    <h6 class="ricsfooter__heading ricsfooter--modus col--9 col--fst">Modus</h6>
                    <nav role="navigation" aria-label="Modus footer navigation" class="ricsfooter__nav col--9 col--fst">
                        <ul class="ricsfooter__navlistcont">
                            <li class="ricsfooter__navlist">
                                <a class="ricsfooter__navlink" href="javascript:void(0);" title="Contact Us">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="ricsfooter__ctr col--4">
                    <h6 class="ricsfooter__heading ricsfooter--journal col--9 col--fst">Journals</h6>
                    <nav role="navigation" aria-label="Journals footer navigation" class="ricsfooter__nav col--9 col--fst">
                        <ul class="ricsfooter__navlistcont">
                            <li class="ricsfooter__navlist">
                                <a class="ricsfooter__navlink" href="javascript:void(0);" title="Contact Us">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="ricsfooter__right col--4 col--lst">
                    <div class="col--12 col--fst">
                        <h1 class="ricsfooter__heading">
                            <a class="ricsfooter__logolink" href="javascript:void(0);" title="RICS">RICS</a>
                        </h1>
                        <div class="ricsfooter__scllinks rics--row col--auto col--fst">
                            <a class="ricsfooter__socialsharinglink icon icon-wht--fbicon" href="javascript:void(0);" title="Facebook">Facebook</a>
                            <a class="ricsfooter__socialsharinglink icon icon-wht--twtr" href="javascript:void(0);" title="Twitter">Twitter</a>
                            <a class="ricsfooter__socialsharinglink icon icon-wht--lkdln" href="javascript:void(0);" title="LinkeedIn">LinkeedIn</a>
                        </div>
                    </div>
                    <nav role="navigation" aria-label="Footer navigation" class="ricsfooter__nav col--12 col--fst">
                        <ul class="ricsfooter__navlistcont">
                            <li class="ricsfooter__navlist">
                                <a class="ricsfooter__navlink" href="javascript:void(0);" title="RICS.org">Visit <u>RICS.org</u></a>
                            </li>
                            <li class="ricsfooter__navlist">
                                <a class="ricsfooter__navlink" href="javascript:void(0);" title="About RICS">About RICS</a>
                            </li>
                            <li class="ricsfooter__navlist">
                                <a class="ricsfooter__navlink" href="javascript:void(0);" title="Privacy & Cookie Policy">Privacy & Cookie Policy</a>
                            </li>
                            <li class="ricsfooter__navlist">
                                <a class="ricsfooter__navlink" href="javascript:void(0);" title="Terms and Conditions">Terms and Conditions</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="rics--row">
                        <nav role="navigation" aria-label="Copyrights information" class="ricsfooter__nav col--auto">
                            <ul class="ricsfooter__navlistcont ricsfooter--copyright">
                                <li class="ricsfooter__navlist">
                                    Copyright 2020 RICS.org. All rights reserved
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>