<footer class="ricsfooter">
   <div class="container container--fluid">
       <div class="container--content">
           <div class="rics--row">
               <div class="ricsfooter__left col--6">
                   <div class="rics--row">
                       <h6 class="ricsfooter__heading col--auto">Modus</h6>
                   </div>
                   <div class="rics--row">
                       <nav class="ricsfooter__nav col--auto">
                           <ul class="ricsfooter__navlistcont">
                               <li class="ricsfooter__navlist">
                                   <a class="ricsfooter__navlink" href="javascript:void(0);" title="Contact Us">Contact Us</a>
                               </li>
                           </ul>
                       </nav>
                   </div>
               </div>
               <div class="ricsfooter__right col--6">
                   <div class="rics--row">
                       <div class="col--auto">
                           <h1 class="ricsfooter__logo">
                               <a class="ricsfooter__logolink" href="javascript:void(0);" title="RICS">RICS</a>
                           </h1>
                       </div>
                   </div>
                   <div class="rics--row">
                       <nav class="ricsfooter__nav col--auto">
                           <ul class="ricsfooter__navlistcont">
                               <li class="ricsfooter__navlist">
                                   <a class="ricsfooter__navlink" href="javascript:void(0);" title="Privacy">Privacy</a>
                               </li>
                               <li class="ricsfooter__navlist">
                                   <a class="ricsfooter__navlink" href="javascript:void(0);" title="Terms">Terms</a>
                               </li>
                               <li class="ricsfooter__navlist">
                                   <a class="ricsfooter__navlink" href="javascript:void(0);" title="Cookies">Cookies</a>
                               </li>
                               <li class="ricsfooter__navlist">
                                   <a class="ricsfooter__navlink" href="javascript:void(0);" title="Sitemap">Sitemap</a>
                               </li>
                               <li class="ricsfooter__navlist">
                                   <a class="ricsfooter__navlink" href="javascript:void(0);" title="FAQ">FAQ</a>
                               </li>
                           </ul>
                       </nav>
                   </div>
                   <div class="rics--row">
                       <nav class="ricsfooter__nav col--auto">
                           <ul class="ricsfooter__navlistcont">
                               <li class="ricsfooter__navlist mar-top--10">
                                   Copyright 2020 RICS.org. All rights reserved
                               </li>
                           </ul>
                       </nav>
                   </div>
               </div>
           </div>
       </div>
   </div>
</footer>