<div class="ricsnav">
    <div class="container container--fluid">
        <div class="container--content">
            <div class="rics--row">
                <nav class="ricsnav__cont">
                    <ul class="ricsnav__leftlistcont col--6 col--fst">
                        <li class="ricsnav__leftlist col--auto ">
                            <a class="ricsnav__leftlink ricsnav--moduslink ricsnav--leftlistactive" href="javascript:void(0);" title="Modus">Modus</a>
                        </li>
                        <li class="ricsnav__leftlist col--auto ">
                            <a class="ricsnav__leftlink ricsnav--jornalslink" href="javascript:void(0);" title="Journals">Journals</a>
                        </li>
                    </ul>
                    <ul class="ricsnav__rightlistcont col--6 col--lst">
                        <li class="ricsnav__rightlist col--auto">
                            <a class="ricsnav__rightlink" href="javascript:void(0);" title="Browse by Specialism">Browse by Specialism</a>
                        </li>
                        <li class="ricsnav__rightlist ricsnav--rightlastlist col--auto ">
                            <a class="ricsnav__rightlink" href="javascript:void(0);" title="Search">
                                <span class="icon icon--search flt--rht"></span>
                                Search
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>