<div class="ricssubnav">
   <div class="container container--fluid">
       <div class="container--content">
           <div class="rics--row col--auto">
               <nav class="ricssubnav__submenunav">
                   <ul class="ricssubnav__submenulistcont">
                       <li class="ricssubnav__submenulist">
                           <a class="ricssubnav__submenulink" href="javascript:void(0);" title="Technology">Technology</a>
                       </li>
                       <li class="ricssubnav__submenulist">
                           <a class="ricssubnav__submenulink ricssubnav--submenulinkactive" href="javascript:void(0);" title="Built Environment">Built Environment</a>
                       </li>
                       <li class="ricssubnav__submenulist">
                           <a class="ricssubnav__submenulink" href="javascript:void(0);" title="Natural Environment">Natural Environment</a>
                       </li>
                       <li class="ricssubnav__submenulist">
                           <a class="ricssubnav__submenulink" href="javascript:void(0);" title="Business & Skills">Business & Skills</a>
                       </li>
                   </ul>
               </nav>
           </div>
       </div>
   </div>
</div>