<div class="ricssubnav">
    <div class="container container--fluid">
        <div class="container--content">
            <div class="rics--row col--auto col--fst">
                <nav class="ricssubnav__submenunav" id="modusMenu">
                    <ul class="ricssubnav__submenulistcont">
                        <li class="ricssubnav__submenulist ">
                            <a class="ricssubnav__submenulink ricssubnav--linkfirst" href="javascript:void(0);" title="Technology">Technology</a>
                            <ul class="ricssubnav__drpdwnlistcont">
                                <li class="ricssubnav__drpdwnlist">
                                    <a class="ricssubnav__drpdwnlink" href="javascript:void(0);" title="Surveying Tools">Surveying Tools</a>
                                </li>
                                <li class="ricssubnav__drpdwnlist">
                                    <a class="ricssubnav__drpdwnlink" href="javascript:void(0);" title="Data">Data</a>
                                </li>
                                <li class="ricssubnav__drpdwnlist">
                                    <a class="ricssubnav__drpdwnlink" href="javascript:void(0);" title="Smart Buildings">Smart Buildings</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ricssubnav__submenulist">
                            <a class="ricssubnav__submenulink ricssubnav--submenulinkactive" href="javascript:void(0);" title="Built Environment">Built Environment</a>
                            <ul class="ricssubnav__drpdwnlistcont">
                                <li class="ricssubnav__drpdwnlist">
                                    <a class="ricssubnav__drpdwnlink" href="javascript:void(0);" title="Smart Cities">Smart Cities</a>
                                </li>
                                <li class="ricssubnav__drpdwnlist">
                                    <a class="ricssubnav__drpdwnlink" href="javascript:void(0);" title="Housing">Housing</a>
                                </li>
                                <li class="ricssubnav__drpdwnlist">
                                    <a class="ricssubnav__drpdwnlink" href="javascript:void(0);" title="Construction">Construction</a>
                                </li>
                                <li class="ricssubnav__drpdwnlist">
                                    <a class="ricssubnav__drpdwnlink" href="javascript:void(0);" title="Infrastructure">Infrastructure</a>
                                </li>
                                <li class="ricssubnav__drpdwnlist">
                                    <a class="ricssubnav__drpdwnlink" href="javascript:void(0);" title="Commercial Property">Commercial Property</a>
                                </li>
                                <li class="ricssubnav__drpdwnlist">
                                    <a class="ricssubnav__drpdwnlink" href="javascript:void(0);" title="Investment">Investment</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ricssubnav__submenulist">
                            <a class="ricssubnav__submenulink" href="javascript:void(0);" title="Natural Environment">Natural Environment</a>
                            <ul class="ricssubnav__drpdwnlistcont">
                                <li class="ricssubnav__drpdwnlist">
                                    <a class="ricssubnav__drpdwnlink" href="javascript:void(0);" title="Sustainability">Sustainability</a>
                                </li>
                                <li class="ricssubnav__drpdwnlist">
                                    <a class="ricssubnav__drpdwnlink" href="javascript:void(0);" title="Climate Change">Climate Change</a>
                                </li>
                                <li class="ricssubnav__drpdwnlist">
                                    <a class="ricssubnav__drpdwnlink" href="javascript:void(0);" title="Rural">Rural</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ricssubnav__submenulist">
                            <a class="ricssubnav__submenulink" href="javascript:void(0);" title="Business & Skills">Business & Skills</a>
                            <ul class="ricssubnav__drpdwnlistcont">
                                <li class="ricssubnav__drpdwnlist">
                                    <a class="ricssubnav__drpdwnlink" href="javascript:void(0);" title="Business Management">Business Management</a>
                                </li>
                                <li class="ricssubnav__drpdwnlist">
                                    <a class="ricssubnav__drpdwnlink" href="javascript:void(0);" title="Skills">Skills</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <nav class="ricssubnav__submenunav" id="journalsMenu">
                    <ul class="ricssubnav__submenulistcont">
                        <li class="ricssubnav__submenulist ">
                            <a class="ricssubnav__submenulink" href="javascript:void(0);" title="Property Journal">Property Journal</a>
                        </li>
                        <li class="ricssubnav__submenulist">
                            <a class="ricssubnav__submenulink ricssubnav--submenulinkactive" href="javascript:void(0);" title="Construction Journal">Construction Journal</a>
                        </li>
                        <li class="ricssubnav__submenulist">
                            <a class="ricssubnav__submenulink" href="javascript:void(0);" title="Built Environment Journal">Built Environment Journal</a>
                        </li>
                        <li class="ricssubnav__submenulist">
                            <a class="ricssubnav__submenulink" href="javascript:void(0);" title="Land Journal">Land Journal</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>