<div class="ricsskip" id="ricsskiplink-container">
   <div class="ricsskip__inner">
     <a class="ricsskip__link" href="#rics-content">Skip to main content</a>
   </div>
</div>
<header class="ricsheader">
   <div class="container container--fluid">
       <div class="container--content">
           <div class="rics--row">
               <div class="ricsheader__logocont col--1">
                   <h1 class="ricsheader__logo">
                       <a class="ricsheader__logolink" href="javascript:void(0);" title="RICS">RICS</a>
                   </h1>
               </div>
           </div>
       </div>
   </div>
</header>