<div class="ricsskip" id="ricsskiplink-container">
    <div class="ricsskip__inner">
      <a class="ricsskip__link" href="#rics-content">Skip to main content</a>
    </div>
</div>
<header class="ricsheader">
    <div class="container container--fluid">
        <div class="container--content">
            <div class="rics--row jus-cnt--spbtw">
                <div class="ricsheader__logocont col--auto ">
                    <h1 class="ricsheader__logo">
                        <a class="ricsheader__logolink" href="javascript:void(0);" title="RICS">RICS</a>
                    </h1>
                </div>
                <div class="ricsheader__ricslinkcont col--auto hide--mobile">
                    <a href="https://www.rics.org/uk/" class="ricsheader__ricslink" target="_blank" title="rics.org">rics.org</a>
                </div>
            </div>
        </div>
    </div>
</header>