<div class="ricsnav container container--fluid">
   <div class="container--content">
       <div class="rics--row">
           <nav class="ricsnav__cont">
               <ul class="ricsnav__leftlistcont col--6">
                   <li class="ricsnav__leftlist col--auto">
                       <a class="ricsnav__leftlink ricsnav--leftlistactive " href="javascript:void(0);" title="Modus">Modus</a>
                   </li>
                   <li class="ricsnav__leftlist col--auto">
                       <a class="ricsnav__leftlink" href="javascript:void(0);" title="Journals">Journals</a>
                   </li>
               </ul>
               <ul class="ricsnav__rightlistcont col--6">
                   <li class="ricsnav__rightlist col--auto">
                       <a class="ricsnav__rightlink" href="javascript:void(0);" title="Browse by Specialism">Browse by Specialism</a>
                   </li>
                   <li class="ricsnav__rightlist ricsnav--rightlastlist col--auto">
                       <a class="ricsnav__rightlink" href="javascript:void(0);" title="Search">
                           <i class="icon icon--search flt--rht mar-rht--0"></i>
                           Search
                       </a>
                   </li>
               </ul>
           </nav>
       </div>
   </div>
</div>