<div class="ricsnewsltr">
   <div class="container container--fluid">
       <div class="container--content">
           <div class="ricsnewsltr__container rics--row col--auto">
               <div class="ricsnewsltr__inner col--4">
                   <form action="#">
                       <h5 class="ricsnewsltr__heading">Never miss a story</h5>
                       <p class="ricsnewsltr__desc">
                           Sign up to the Newsletter to keep up with what’s emerging in the industry.
                       </p>
                       <label for="ricsNewslettername" class="dis--none">Name</label>
                       <input class="ricsnewsltr__email input" id="ricsNewslettername" type="text" value="" placeholder="Name" />
                       <label for="ricsNewsletteremail" class="dis--none">E-mail</label>
                       <input class="ricsnewsltr__email input" id="ricsNewsletteremail" type="email" value="" placeholder="E-mail" />
                       <button class="ricsnewsltr__btn btn" type="submit">Sign Up</button>
                   </form>
               </div>
           </div>
       </div>
   </div>
</div>