<div class="ricsrlart">
    <div class="container container--fluid">
        <div class="container--content">
            <div class="ricsrlart__container rics--row col--auto">
                <h2 class="ricsrlart__heading">Related Articles</h2>
                <div class="col--12">
                    <div class="ricsrlart__cardlist rics--row">
                        <div class="col--4 col--fst">
                            <div class="ricsrlart__card">
                                <img class="ricsrlart__cardimage" src="/dam/images/modus__article/artilcle__5.png" alt="Time for a change of use" />
                                <div class="ricsrlart__carddetail">
                                    <h3 class="ricsrlart__cardlabel fnt-clr--trgrn">LAND JOURNAL</h3>
                                    <h4 class="ricsrlart__articleheading">Time for a change of use</h4>
                                    <p class="ricsrlart__articledate">Adam Branson  <strong>17 April 2020</strong></p>
                                    <div class="ricsrlart__tagcont">
                                        <p class="ricsrlart__tag">Tag example</p>
                                        <p class="ricsrlart__tag">Tag example</p>
                                        <p class="ricsrlart__tag mar-rht--0">Tag example</p>
                                        <a class="ricsrlart__tagmore" href="javascript:void(0);" title="Click to see more tagging">Click to see more tagging</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col--4">
                            <div class="ricsrlart__card">
                                <img class="ricsrlart__cardimage" src="/dam/images/modus__article/artilcle__5.png" alt="Time for a change of use" />
                                <div class="ricsrlart__carddetail">
                                    <h3 class="ricsrlart__cardlabel fnt-fmly--oswald">MODUS </h3>
                                    <h4 class="ricsrlart__articleheading">Jenny Lynch talks about best practice</h4>
                                    <p class="ricsrlart__articledate">Adam Branson  <strong>17 April 2020</strong></p>
                                    <div class="ricsrlart__tagcont">
                                        <p class="ricsrlart__tag">Tag example</p>
                                        <p class="ricsrlart__tag">Tag example</p>
                                        <p class="ricsrlart__tag mar-rht--0">Tag example</p>
                                        <a class="ricsrlart__tagmore" href="javascript:void(0);" title="Click to see more tagging">Click to see more tagging</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col--4 col--lst">
                            <div class="ricsrlart__card">
                                <img class="ricsrlart__cardimage" src="/dam/images/modus__article/artilcle__5.png" alt="Time for a change of use" />
                                <div class="ricsrlart__carddetail">
                                    <h3 class="ricsrlart__cardlabel fnt-clr--trgrn">LAND JOURNAL</h3>
                                    <h4 class="ricsrlart__articleheading">The spectacular fall of WeWork</h4>
                                    <p class="ricsrlart__articledate">Adam Branson  <strong>17 April 2020</strong></p>
                                    <div class="ricsrlart__tagcont">
                                        <p class="ricsrlart__tag">Tag example</p>
                                        <p class="ricsrlart__tag">Tag example</p>
                                        <p class="ricsrlart__tag mar-rht--0">Tag example</p>
                                        <a class="ricsrlart__tagmore" href="javascript:void(0);" title="Click to see more tagging">Click to see more tagging</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>