<!--Related articles Start-->
<div class="container container--fluid">
    <div class="container--content container-mdm--spacing">
        <div class="rics--row flx-dir--mobclm">
            <div class="ricsrlart">
                <div class="ricsrlart__container">
                    <h2 class="ricsrlart__heading">Related Articles</h2>
                    <div class="col--12">
                        <div class="ricsrlart__cardlist rics--row">
                            <div class="col--4 col--fst">
                                <div class="ricsrlart__card">
                                    <div class="ricsrlart__cardimagecont">
                                        <a class="ricsrlart__cardlink" href="javascript:void(0);" title="go to article">go to article</a>
                                        <img class="ricsrlart__cardimage" src="/clientlib-base/resources/images/article__image.svg" alt="Time for a change of use" />
                                    </div>
                                    <div class="ricsrlart__carddetail">
                                        <h3 class="ricsrlart__cardlabel fnt-clr--trgrn">LAND JOURNAL</h3>
                                        <h4 class="ricsrlart__articleheading">
                                            <a class="ricsrlart__cardlink" href="javascript:void(0);" title="go to article">go to article</a>
                                            Time for a change of use
                                        </h4>
                                        <p class="ricsrlart__articledate">Adam Branson  <strong>17 April 2020</strong></p>
                                        <div class="ricsrlart__tagcont" id="taginfo1">
                                            <p class="ricsrlart__tag">
                                                <a class="ricsrlart__taglink" href="javascript:void(0);" title="Tag example">
                                                    Tag example
                                                </a>
                                            </p>
                                            <p class="ricsrlart__tag">
                                                <a class="ricsrlart__taglink" href="javascript:void(0);" title="Tag example">
                                                    Tag example
                                                </a>
                                            </p>
                                            <a class="ricsrlart__tagmore" onclick="seemoreTag(1)" href="javascript:void(0);" title="Click to see more tagging">Click to see more tagging</a>
                                            <p class="ricsrlart__tag dis--none">
                                                <a class="ricsrlart__taglink" href="javascript:void(0);" title="Tag example">
                                                Tag example
                                                </a>
                                            </p>
                                            <p class="ricsrlart__tag dis--none">
                                                <a class="ricsrlart__taglink" href="javascript:void(0);" title="Tag example">
                                                Tag example
                                                </a>
                                            </p>
                                            <p class="ricsrlart__tag dis--none">
                                                <a class="ricsrlart__taglink" href="javascript:void(0);" title="Tag example">
                                                Tag example
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col--4">
                                <div class="ricsrlart__card">
                                    <div class="ricsrlart__cardimagecont">
                                        <a class="ricsrlart__cardlink" href="javascript:void(0);" title="go to article">go to article</a>
                                        <img class="ricsrlart__cardimage" src="/clientlib-base/resources/images/article__image.svg" alt="Time for a change of use" />
                                    </div>
                                    <div class="ricsrlart__carddetail">
                                        <h3 class="ricsrlart__cardlabel fnt-fmly--oswaldsemibold">MODUS </h3>
                                        <h4 class="ricsrlart__articleheading">
                                            <a class="ricsrlart__cardlink" href="javascript:void(0);" title="go to article">go to article</a>
                                            Jenny Lynch talks about best practice
                                        </h4>
                                        <p class="ricsrlart__articledate">Adam Branson  <strong>17 April 2020</strong></p>
                                        <div class="ricsrlart__tagcont" id="taginfo2">
                                            <p class="ricsrlart__tag">
                                                <a class="ricsrlart__taglink" href="javascript:void(0);" title="Tag example">
                                                    Tag example
                                                </a>
                                            </p>
                                            <p class="ricsrlart__tag">
                                                <a class="ricsrlart__taglink" href="javascript:void(0);" title="Tag example">
                                                    Tag example
                                                </a>
                                            </p>
                                            <a class="ricsrlart__tagmore" onclick="seemoreTag(2)" href="javascript:void(0);" title="Click to see more tagging">Click to see more tagging</a>
                                            <p class="ricsrlart__tag dis--none">
                                                <a class="ricsrlart__taglink" href="javascript:void(0);" title="Tag example">
                                                Tag example
                                                </a>
                                            </p>
                                            <p class="ricsrlart__tag dis--none">
                                                <a class="ricsrlart__taglink" href="javascript:void(0);" title="Tag example">
                                                Tag example
                                                </a>
                                            </p>
                                            <p class="ricsrlart__tag dis--none">
                                                <a class="ricsrlart__taglink" href="javascript:void(0);" title="Tag example">
                                                Tag example
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col--4 col--lst">
                                <div class="ricsrlart__card">
                                    <div class="ricsrlart__cardimagecont">
                                        <a class="ricsrlart__cardlink" href="javascript:void(0);" title="go to article">go to article</a>
                                        <img class="ricsrlart__cardimage" src="/clientlib-base/resources/images/article__image.svg" alt="Time for a change of use" />
                                    </div>
                                    <div class="ricsrlart__carddetail">
                                        <h3 class="ricsrlart__cardlabel fnt-clr--trgrn">LAND JOURNAL</h3>
                                        <h4 class="ricsrlart__articleheading">
                                            <a class="ricsrlart__cardlink" href="javascript:void(0);" title="go to article">go to article</a>
                                            The spectacular fall of WeWork
                                        </h4>
                                        <p class="ricsrlart__articledate">Adam Branson  <strong>17 April 2020</strong></p>
                                        <div class="ricsrlart__tagcont" id="taginfo3">
                                            <p class="ricsrlart__tag">
                                                <a class="ricsrlart__taglink" href="javascript:void(0);" title="Tag example">
                                                    Tag example
                                                </a>
                                            </p>
                                            <p class="ricsrlart__tag">
                                                <a class="ricsrlart__taglink" href="javascript:void(0);" title="Tag example">
                                                    Tag example
                                                </a>
                                            </p>
                                            <!-- <a class="ricsrlart__tagmore" onclick="seemoreTag(3)" href="javascript:void(0);" title="Click to see more tagging">Click to see more tagging</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Related articles End-->