@import "./partials/variables.less";  
@import "./partials/mixins.less";

.ricsartcf{
   .component--default(@display: flex);
   margin: 30px auto;
   &__heading{
      .default--font(@fontFamily:@Modus; @fontSize: 26px; @lineHeight: 34px);
      margin-bottom: 30px;
   }
   &__bigfont{
      font-size: 100px;
      float: left;
      line-height: 100px;
      width: 60px;
   }
   &__content{
      margin-bottom: 30px;
      .default--font(@fontSize: 18px; @lineHeight: 30px;);
   }
   &__rhtcontent{
      .default--font(@fontFamily:@Modus; @fontSize: 24px; @lineHeight: 38px);
      border-top: solid 1px @blue--green;
      padding: 12px 0 0;
      margin-bottom: 30px;
   }
   &__smalldesc{
      .default--font(@fontSize: 14px; @color: @charcoal--grey; @lineHeight: 20px; @fontStyle: italic);
      display: inline-block;
   }
   &__link{
      text-decoration: underline;
      .default--font(@fontSize: 18px; @color: @blue--green; @lineHeight: 30px);
      word-break: break-all;
      &:hover{
         color: @ricsblack;
      }
   }
   &__slider{
      position: relative;
      overflow: hidden;
   }
   &--fstltrnrml{
      font-size: 24px;
      line-height: 38px;
      .ricsartcf{
         &__bigfont{
            font-size: 24px;
            line-height: 38px;
            width: auto;
         }
      }
   }
   &--txtlink{
      width: 515px;
      .default--fontfamilyimp(@fontFamily: @RICS--Italic; @fontSize: 18px; @color: @charcoal--grey; @lineHeight: 30px);
      a{
         font-family: @RICS--Italic;   
      }
   }
   &__lstcont{
      padding-left: 20px;
   }
   &__lst{
      list-style: disc inside;
      color: @blue--green;
      font-size: 21px;
      line-height: 34px;
      margin-top: 20px;
   }
   &__lsttitle{
      display: inline-block;
      .default--font(@fontFamily:@RICS--Bold; @fontWeight: bold;@fontSize: 21px; @fontStyle: normal; @color: @blue--green; @lineHeight: 34px);
   }
   &__lstdesc{
      margin-left: 30px;
      .default--font(@fontSize: 21px; @lineHeight: 34px);
      margin-top: 5px;
   }
   &--headingwithbr{
      border-top: solid 1px @blue--green;
      padding-top: 30px;
   }
   &--scdrylayout{
      background: rgba(2, 131, 124, 0.1);
      padding: 50px 0;
   }
   &__scndlistcont{
      padding-left: 30px;
      margin-top: 20px;
   }
   &__scndlist{
      list-style: disc outside;
      .default--font(@fontSize: 21px; @lineHeight: 34px);
      padding-left: 10px;
   }
   &--scndheading{
      .default--font(@fontFamily:@Journals--SemiBold; @fontSize: 25px; @color: @blue--green; @lineHeight: 38px);
      margin-bottom: 10px;
      .ricsartcf{
         &__bigfont{
            font-size: 20px!important;
            line-height: 30px;
            width: auto;
         }
      }
   }
   &--jrnlheading{
      font-family: @Journals--SemiBold;
      font-size: 25px;
      line-height: 38px;
      .ricsartcf__bigfont{
         width: auto;
         font-size: 20px;
         line-height: 32px;
      }
   }
   &--jrnlrhtcontent{
      font-family: @Journals--SemiBold;
      font-size: 24px;
      line-height: 38px;
   }
}
.ricsarttbl{
   margin: 30px auto;
   &__headingcont{
      margin-top: 70px;
      background: @blue--green;
      padding: 20px;
      .default--font(@color: @ricswhite;);
      position: relative;
   }
   &__expndtbl{
      position: absolute;
      right: 0px;
      top: -25px;
   }
   &__container{
      width: 100%;
      overflow: hidden;
   }
   &__tablename{
      .default--font(@fontFamily:@RICS--Medium; @fontSize: 21px; @color: @ricswhite; @lineHeight: 29px);
      &.fnt-stl--itlc{
         font-family: @RICS--Italic;
         font-style: normal!important;
      }
   }
}
.ricsartrightcnt{
   display: flex;
   position: absolute;
   width: 100%;
   height: 100%;
   margin: 30px auto;
   &__container{
      margin-right: 15px;
   }
   &__rhtcontent{
      .default--font(@fontFamily:@Modus; @fontSize: 24px; @lineHeight: 38px);
      border-top: solid 1px @blue--green;
      padding: 12px 0 0;
      margin-bottom: 120px;
   }
   &__smalldesc{
      .default--font(@fontSize: 14px; @fontStyle: italic; @color: @charcoal--grey; @lineHeight: 20px);
      display: inline-block;
   }
}
@media (max-width: 834px) {
   .ricsartcf{
      margin-top: 15px!important;
      margin-bottom: 15px!important;
      &__container{
         flex-direction: column;
      }
      &__midcol, &__rhtcol{
         width: 100%;
         max-width: 100%;
      }
      &__rhtcol{
         align-self: flex-start!important;
         padding-left: 0;
         padding-right: 15px!important;
      }
      &--jrnlheading{
         font-size: 20px!important;
         line-height: 26px!important;
         .ricsartcf__bigfont{
            font-size: 16px!important;
            line-height: 24px!important;
         }
      }
      &__lstcont{
         padding-left: 10px;
      }
      &--jrnlrhtcontent{
         font-size: 20px!important;
         line-height: 26px!important;
         font-weight: @semi--bold;
      }
      &__lsttitle, &__lstdesc{
         font-size: 16px;
         line-height: 24px;
      }
      &__lstdesc{
         margin-left: 20px;
         margin-top: 0;
      }
      &--headingwithbr{
         padding-top: 15px;
      }
      &--scndheading{
         font-size: 16px;
         .ricsartcf__bigfont{
            font-size: 16px!important;
            line-height: 24px;
         }
      }
      &__scndlist{
         font-size: 16px;
         list-style: outside;
         line-height: 24px;
      }
      &--scdrylayout, &__container{
         background: transparent;
         .rics--row{
            flex-direction: column;
         }
      }
      &__lst{
         font-size: 14px;
         line-height: 21px;
      }
      &--scnclrlayout{
         background: rgba(2, 131, 124, 0.1);
      }
      &__scndlistcont{
         padding-left: 15px;
         margin-top: 10px;
      }
      &--txtlink{
         width: 100%;
         font-size: 12px;
         line-height: 18px;
      }
      &__heading{
         font-size: 20px;
         line-height: 26px;
      }
      &__bigfont {
         font-size: 58px;
         float: left;
         line-height: 58px;
         width: 30px;
      }
      &__content, &__link{
         font-size: 15px;
         line-height: 21px;
      }
      &__rhtcontent{
         font-size: 16px;
         margin: 25px 0 0px;
      }
      &__smalldesc{
         font-size: 12px;
         margin-top: 0!important;
      }
      .mar-bot--200{
         margin-bottom: 50px!important;
      }
      &--fstltrnrml{
         .ricsartcf__bigfont{
            font-size: 19px;
            line-height: 22px;
         }
      }
   }
   .ricsartrightcnt{
      position: static;
      margin-top: 0!important;
      margin-bottom: 15px!important;
      &__container{
         margin-right: 0;
         width: 100%;
      }
      &__rhtcontent{
         font-size: 16px;
         line-height: 22px;
         margin-bottom: 0;
         margin-top: 10px;
      }
   }
   .ricsarttbl{
      margin-top: 15px!important;
      margin-bottom: 15px!important;
      &__container{
         .rics--row{
            flex-direction: column;
         }
      }
      &__midcol{
         width: 100%;
         max-width: 100%;
      }
      &__tablename{
         font-size: 16px;
         line-height: 24px;
      }
      &__headingcont{
         position: relative;
         &:before{
            position: absolute;
            right: 0;
            top: 0;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, @ricswhite 84%);
            width: 62px;
            content: "";
            height: 100%;
         }
      }
   }
}