@import "./partials/variables.less";  
@import "./partials/mixins.less";

.ricsinfographic{
   .component--default();
   display: flex;
   margin: 5px 0px 5px 0px;
   &__container{
      padding: 50px 0 40px;
   }
   &__heading{
      .default--font();
      font-family: @Modus;
      font-size: 28px;
      line-height: 1.31;
   }
   &__collist{
      margin: 30px 0;
      display: flex;
      flex-wrap: wrap;
      padding-left: 0!important;
   }
   &__col{
      border-left: solid 2px @ricsblack;
   }
   &__colheading{
      .default--font();
      font-family: @Modus--SemiBold;
      font-size: 38px;
      line-height: 46px;
   }
   &__coldesc{
      .default--font();
      font-size: 21px;
      padding: 15px 0 5px;
      line-height: 34px;
   }
   &__desc{
      .default--font();
      margin: 50px 0 0;
   }
   sup{
      font-size: 20px;
   }
}