@import "./partials/variables.less";  // Declare global variables here
@import "./partials/mixins.less";

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
   
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
   
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
   
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
   
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
   .ricsfooter{
      &__scllinks{
         padding-right: 0;
      }
      &__logolink{
         width: 11vw!important;
      }
      &__navlist{
         font-size: 12px!important;
      }
      &__socialsharinglink{
         margin-left: 8px!important;
         margin-right: 0!important;
         &:first-child{
            margin-left: 0!important;
         }
      }
   }
   .title {
      &-size{
         &--lmd{
            font-size: 22px!important;
            line-height: 30px!important;
         }
      }
   }
   .para {
      &-size{
         &--lmd{
            font-size: 15px!important;
            line-height: 20px!important;
         }
         &--artdesc{
            font-size: 15px!important;
            line-height: 20px!important;
         }
      }
   }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
   body{
      padding-top: 168px;
   }
   .ricsheader{
      position: fixed;
      width: 100%;
      z-index: 7;
      top: 0;
      &__logo{
         width: 85px;
         height: 29px;
      }
   }
   .ricsnav{
      position: fixed;
      width: 100%;
      top: 97px;
      margin-bottom: 0;
      z-index: 8;
      background: @ricswhite;
      &::after{
         position: absolute;
         width: 100%;
         content: "";
         left: 0;
         top: -12px;
         height: 10px;
         background: @ricswhite;
         box-shadow: 0 4px 4px 0 rgba(212, 209, 209, 0.2);
      }
      .container{
         max-width: 100%;
      }
      &__cont{
         flex-direction: column;
      }
      &__leftlistcont{
         width: 100%;
         max-width: 100%;
         margin: 0 auto;
      }
      &__leftlist, &__rightlist{
         width: 50%;
      }
      &__leftlink{
         padding: 0px 0 3px;
         margin-top: 25px;
      }
      &__rightlistcont{
         max-width: 70%!important;
         position: absolute;
         top: -60px;
         right: 0;
      }
      &__rightlist{
         justify-content: center;
         width: auto;
         max-width: 70%;
         padding: 7px 0;
      }
      &--moduslink{
         width: 100%;
         background-size: 93px;
         background-position: top center;
         height: 45px;
      }
      &--jornalslink{
         width: 100%;
         background-size: 112px;
         height: 45px;
         background-position: top center;
      }
      &__rightlink{
         font-size: 12px;
         margin: 0 10px;
      }
      &__rightsearchform{
         position: absolute;
         top: 131px;
         right: 0;
         width: 100vw;
         background: #fff;
         z-index: 1;
         padding: 20px 0 10px;
         .icon--search {
            position: absolute;
            right: 5%;
            top: 24px;
         }
      }
      &__rightsearch{
         width: 90vw;
         margin: 0 auto;
         display: block;
      }
      &__chevronicon{
         display: block;
         left: calc(50% + 55px);
      }
      &__expdovly{
         display: block;
      }
   }
   .ricssubnav{
      position: relative;
      &__submenunav{
         border-bottom: solid 1px @ricsblack;
         display: none;
      }
      .container{
         max-width: 100%;
      }
      &__submenulistcont{
         flex-direction: column;
      }
      &__submenulist{
         padding: 25px 0 0px;
         &:last-child{
            padding-bottom: 25px;
         }
         &:hover{
            .ricssubnav__submenulink{
               font-weight: normal;
            }
            .ricssubnav__drpdwnlistcont{
               display: none;
            }
         }
         &::before {
            display: none;
         }
         
      }
      &__submenulink{
         max-width: 90%;
         margin: 0 auto;
         display: block;
         font-size: 16px;
         &:hover{
            // font-family: @Journals;
            font-weight: normal;
         }
      }
      &--submenulinkactive{
         font-family: @Journals;
      }
      &__drpdwnlistcont{
         position: relative;
         top: 0;
         margin: 10px 0 0 50px;
         padding: 10px 0 0;
         background: @ricswhite;
         box-shadow: 0 3px 4px 0 rgba(143, 143, 143, 0);
         min-width: 85%;
         max-width: 85%;
         float: left;
         left: 0;
      }
      &__drpdwnlist{
         padding: 0 0 25px;
         float: left;
         width: 100%;
         &:last-child{
            padding-bottom: 0;
         }
      }
      &__drpdwnlink{
         max-width: 90%;
         margin: 0 auto;
         display: block;
         padding: 0;
         font-size: 16px;
         float: left;
      }
      &__chevronicon{
         display: block;
      }
      &--chevronactive{
         transform: rotate(180deg)!important;
      }
   }
   // #journalsMenu{
   //    .ricssubnav{
   //       &__submenulistcont{
   //          width: 100%;
   //          display: flex;
   //          justify-content: flex-end;
   //          align-items: flex-end;
   //       }
   //       &__submenulist{
   //          width: 50%;
   //       }
   //    }
   // }
   .ricsbreadcrumb{
      margin-bottom: 25px;
      &__navlistcont{
         font-size: 10px;
         width: 165px;
      }
      &.hide--submenu{
         margin-top: 168px;
      }
      &__navlink{
         font-size: 10px;
      }
      &__navlist{
         font-size: 10px;
      }
   }
   .ricsartbanner{
      &__heading{
         font-size: 12px;
      }
      &__subheading{
         font-size: 30px;
         margin: 10px 0 10px;
         line-height: 38px;
      }
      &__desc{
         font-size: 15px;
         line-height: 22px;
      }
      &__authorname, &__authordate{
         font-size: 10px;
         line-height: 36px;
         margin: 20px 0 0;
      }
      &__tag{
         font-size: 9px;
      }
      &--jrnlheading{
         font-size: 10px;
         line-height: 14px;
      }
      &--jrnlsubheading{
         font-size: 22px;
         line-height: 29px;
         margin-top: 15px;
      }
      &__container{
         flex-direction: column;   
      }
      &__midcol{
         width: 100%;
         max-width: 100%;
      }
      &__authorname, &__authordate{
         width: 50%;
         max-width: 50%;
         flex: 0 0 50%;
      }
   }
   .ricsartcf{
      &__container{
         flex-direction: column;
      }
      &__midcol, &__rhtcol{
         width: 100%;
         max-width: 100%;
      }
      &__rhtcol{
         align-self: flex-start!important;
         padding-left: 0;
         padding-right: 15px!important;
      }
      &--jrnlheading{
         font-size: 16px!important;
         line-height: 24px!important;
         .ricsartcf__bigfont{
            font-size: 16px!important;
            line-height: 24px!important;
         }
      }
      &--jrnlrhtcontent{
         font-size: 16px!important;
         line-height: 24px!important;
         font-weight: @semi--bold;
      }
      &__lsttitle, &__lstdesc{
         font-size: 14px;
      }
      &--scndheading{
         font-size: 16px;
         .ricsartcf__bigfont{
            font-size: 16px!important;
            line-height: 24px;
         }
      }
      &__scndlist{
         font-size: 16px;
         list-style: outside;
         line-height: 24px;
      }
      &--scdrylayout, &__container{
         background: transparent;
         .rics--row{
            flex-direction: column;
         }
      }
      &--scnclrlayout{
         background: rgba(2, 131, 124, 0.1);
      }
      &__scndlistcont{
         padding-left: 25px;
      }
      &--txtlink{
         width: 100%;
      }
      &__heading{
         font-size: 16px;
         line-height: 22px;
      }
      &__bigfont {
         font-size: 58px;
         float: left;
         line-height: 58px;
         width: 30px;
      }
      &__content, &__link{
         font-size: 15px;
         line-height: 21px;
      }
      &__rhtcontent{
         font-size: 16px;
         margin: 25px 0 0px;
      }
      &__smalldesc{
         font-size: 12px;
         margin-top: 0!important;
      }
      .mar-bot--200{
         margin-bottom: 50px!important;
      }
      &--fstltrnrml{
         .ricsartcf__bigfont{
            font-size: 19px;
            line-height: 22px;
         }
      }
   }
   .mar{
      &-bot{
         &--25mob{
            margin-bottom: 25px!important;
         }
      }
   }
   .ricsartrightcnt{
      &__rhtcontent{
         font-size: 16px;
         line-height: 22px;
      }
   }
   .ricsartimgntxt{
      &__container{
         flex-direction: column;
      }
      &__txt, &__midcol, &__rhtcol{
         width: 100%;
         max-width: 100%;
      }
      &--txtwithleftspace .ricsartimgntxt__txt{
         margin-left: 0!important;
      }
      &__rhtcol{
         align-self: flex-start!important;
         padding-left: 0;
         padding-right: 15px!important;
         margin-bottom: 25px;
         border-top: solid 1px @brown--grey;
         border-bottom: solid 1px @brown--grey;
         padding-bottom: 25px;
         margin-bottom: 25px;
      }
      &__txt{
         font-size: 12px;
         margin-top: 5px!important;
         line-height: 17px;
      }
      &__advheading{
         font-size: 10px;
         padding: 10px 0;
      }
      &__video, &__videoposter{
         height: 45vw;
      }
   }
   .ricsartrightcnt{
      position: static;
      &__container{
         margin-right: 0;
         width: 100%;
      }
      &__rhtcontent{
         margin-bottom: 0;
         margin-top: 25px;
      }
   }
   .ricsinfographic{
      margin: 0 auto;
      width: 100%;
      padding-bottom: 5px;
      display: block;
      &__container{
         padding: 30px 0;
         width: 90%;
         margin: 0 auto;
         .rics--row{
            flex-direction: column;
         }
      }
      &__leftcol{
         display: none;
      }
      &__col{
         width: 100%;
         max-width: 100%;
         margin-bottom: 35px;
         width: auto;
         &:last-child{
            margin-bottom: 0px;
         }
         &.col--3{
            padding-left: 15px!important;
         }
      }
      &__midcol{
         width: 100%;
         max-width: 100%;
         flex: 0 0 100%;
      }
      &__collist{
         flex-direction: column;
         margin-top: 40px;
      }
      &__desc{
         margin-top: 0;
      }
      &__heading{
         font-size: 16px;
      }
      &__colheading{
         font-size: 33px;
         margin-top: 5px;
         line-height: 48px;
      }
      &__coldesc{
         font-size: 15px;
         padding-top: 10px;
         margin-bottom: 5px!important;
         line-height: 22px;
      }
      &__desc{
         font-size: 12px;
         line-height: 17px;
      }
      &__midcol{
         &:first-child{
            margin-bottom: 30px;
         }
      }
   }
   .ricsrltopics{
      margin: 0 auto;
      &__container{
         flex-direction: column;
      }
      .col--5{
         width: 100%;
         max-width: 100%;
         flex: 0 0 100%;
         &:first-child{
            margin-bottom: 25px;
         }
      }
      &__heading{
         font-size: 14px;
      }
      &__tag{
         font-size: 9px;
      }
   }
   .ricsrlart{
      &__cardlist{
         padding-right: 0;
      }
      &__card{
         display: flex;
         flex-direction: row;
         position: relative;
         border-bottom: 0;
      }
      &__cardimagecont{
         height: auto;
         width: 50%;
      }
      &__cardlist{
         flex-direction: column;
         padding-top: 5px;
      }
      .col--4{
         width: 100%;
         max-width: 100%;
         flex: 0 0 100%;
         margin-bottom: 10px;
         &:last-child{
            margin-bottom: 0;
         }
      }
      &__heading{
         font-size: 14px;
      }
      &__cardlabel{
         font-size: 10px;
         position: absolute;
         padding: 7px;
         background: @ricswhite;
         left: 0;
         bottom: 0;
         margin-bottom: 0;
      }
      &__carddetail{
         width: 50%;
         padding: 7px;
      }
      &__articleheading{
         font-size: 12px;
         margin: 0 0 10px;
         max-height: 50px;
         display: block;
         display: -webkit-box;
         -webkit-line-clamp: 3;
         -webkit-box-orient: vertical;
         overflow: hidden;
         text-overflow: ellipsis;
      }
      &__articledate{
         font-size: 10px;
         margin-bottom: 15px;
         display: none;
      }
      &__tag{
         font-size: 9px;
         padding: 0 3px;
         margin-top: 3px;
      }
      &__tagcont{
         width: 100%;
         overflow: hidden;
         height: 28px;
      }
   }
   .ricsnewsltr{
      &__inner{
         width: 80%;
         max-width: 80%;
         flex: 0 0 80%;
      }
      &__heading{
         font-size: 22px;
         margin-bottom: 10px;
      }
      &__desc{
         font-size: 14px;
         line-height: 20px;
      }
      &__btn {
         width: 120px;
         margin-top: 15px;
         display: block;
         margin-left: auto;
         margin-right: auto;
      }
      &__email{
         margin-bottom: 10px!important;
         padding: 5px 0!important;
      }
      &__socialsharinglink{
         margin-right: 14px!important;
      }
   }
   .ricsfooter{
      margin-top: 25px;
      padding: 50px 0;
      &__left, &__ctr, &__right, &__nav, .col--9{
         width: 100%;
         max-width: 100%;
         flex: 0 0 100%;
      }
      &__heading{
         font-size: 15px!important;
         padding: 10px 0 15px!important;
         margin-bottom: 10px!important;
         margin-top: 15px;
      }
      &__left{
         .ricsfooter__heading{
            margin-top: 0;
            padding-top: 0!important;
         }
      }
      &__navlink, &__navlist{
         font-size: 8px!important;
         &.mar-top--75{
            margin-top: 15px!important;
         }
      }
      &__logo{
         margin-bottom: 10px!important;
         margin-top: 15px;
         padding-bottom: 20px!important;
         height: auto!important;
      }
      &__logolink{
         width: 90px!important;
         height: 45px!important;
         margin-top: -10px;
      }
      &__right{
         .ricsfooter__navlistcont{
            margin-top: 25px;
         }
      }
      &__navlistcont{
         padding-top: 20px!important;
         padding-bottom: 20px!important;
      }
      &__scllinks {
         top: 0px!important;
      }
   }
   .col{
      &--1, &--2, &--3, &--4, &--5, &--6, &--7, &--8, &--9, &--10, &--11, &--12, &--auto{
         padding-left: 0!important;
         padding-right: 0!important;
      }
   }
   .rics{
      &--row{
         margin-left: 0!important;
         margin-right: 0!important;
      }
   }
   .container{
      &--fluid{
         padding-left: 0!important;
         padding-right: 0!important;
         max-width: 100%;
      }
      &--content{
         max-width: 100%;
      }
      &-brdr{
         &--bot{
            border-bottom: 0;
         }
      }
      &--spacing{
         .rics--row{
            flex-direction: column;
            [class^="col--"]{
               width: 100%;
               max-width: 100%;
            }
         }
      }
      &-pmdm--spacing{
         margin: 10px auto!important;
      }
      &-mdm--spacing{
         margin: 25px auto!important;
      }
      &-lrg--spacing{
         margin: 40px auto!important;
      }
      &-exlrg--spacing{
         margin: 50px auto!important;
      }
   }
   .ricsheader, .ricsfooter{
      .container{
         &--fluid{
            max-width: 90%;
         }
      }
   }
   .ricsbreadcrumb{
      &.container{
         &--fluid{
            max-width: 90%;
         }
      }
   }
   .ricsartbanner, .ricsartimgntxt, .ricsartcf, .ricsartrightcnt, .ricsrltopics, .ricsrlart, .ricsarttbl{
      max-width: 90%;
      margin-left: 5%;
      margin-right: 5%;
   }
   .ricsartimgntxt, .ricsartcf{
      margin-top: 0;
      margin-bottom: 0;
   }
   .full{
      &-wdh{
         &--mob{
            max-width: 100%;
            .container--content{
               margin-left: 15px;
               margin-right: 15px;
            }
            .ricsartcf{
               margin-left: 15px;
               margin-right: 15px;
               width: 90%;
            }
         }
      }
   }
   .icon{
      &--fbicon{
         margin-left: 0;
      }
      &--search {
         width: 20px;
         background-size: contain;
         height: 20px;
         margin-top: -5px;
         margin-right: 0px;
         margin-left: 8px;
      }
      &--play{
         width: 66px;
         height: 66px;
         margin-left: -33px;
         top: 0;
         margin-top: 88px;
      }
   }
   .input{
      font-size: 14px;
   }
   .btn{
      font-size: 15px;
   }
   .ricsarttbl{
      &__container{
         .rics--row{
            flex-direction: column;
         }
      }
      &__midcol{
         width: 100%;
         max-width: 100%;
      }
      &__tablename{
         font-size: 11px;
      }
      &__headingcont{
         position: relative;
         &:before{
            position: absolute;
            right: 0;
            top: 0;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, @ricswhite 84%);
            width: 62px;
            content: "";
            height: 100%;
         }
      }
   }
   table{
      width: 100%;
   }
   th, td{
      font-size: 11px;
      padding: 10px 15px;
      width: 30%;
      &:first-child{
         width: 15%;
      }
   }
   .tbl{
      position: relative;
      overflow: hidden;
      &:before{
         position: absolute;
         right: 0;
         top: 0;
         background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, @ricswhite 84%);
         width: 62px;
         content: "";
         height: 100%;
      }
   }
   .hide{
      &--mobile{
         display: none!important;
      }
      &--desktop{
         display: block!important;
      }
   }
   .slider{
      &__arrow{
         width: 34px;
         height: 34px;
      }
      &--arrowleft{
         left: 14px;
      }
      &--arrowright{
         right: 14px;
      }
   }
   .mob{
      &-flxdir{
         &--row{
            margin-top: -10px!important;
            .rics--row{
               flex-direction: row!important;
               padding-left: 15px!important;
               padding-right: 15px!important;
               justify-content: space-between;
               > [class^="col--"]{
                  width: 49%;
                  max-width: 49%;
                  flex: 0 0 49%;
                  margin-bottom: 10px;
               }
            }
         }
      }
      &-full{
         &--wdh{
            margin-left: 0;
            margin-right: 0;
            max-width: 100%;
         }
         &--wdhflx{
            display: flex;
            flex-direction: column;
            max-width: 100%;
            margin-left: 0!important;
            margin-right: 0!important;
            width: 100%!important;
            .ricsartcf__container{
               width: 90%;
               margin: 0 auto;
            }
         }
      }
      &-no{
         &--pad{
            padding: 0;
         }
      }
      &-mxwdh{
         &--96{
            max-width: 96%;
         }
         &--100{
            max-width: 100%;
         }
      }
      &-bor{
         &--tpbt{
            border-top: solid 1px @blue--green;
            border-bottom: solid 1px @blue--green;
            margin-top: 25px;
            padding-bottom: 25px;
         }
      }
   }
   .search{
      &--open{
         .ricsnav__rightlist:first-child{
            border-right: 0;
         }
      }
   }
   .flx{
      &-dir{
         &--mobclm, &--mobclmrvrs{
            flex-direction: column;
            &>{
               .col{
                  &--1, &--2, &--3, &--4, &--5, &--6, &--7, &--8, &--9, &--10, &--11, &--12, &--auto{
                     width: 100%;
                     max-width: 100%;
                  }
               }
            }
         }
         &--mobclmrvrs{
            flex-direction: column-reverse;
         }
      }
   }
   .ricsrlart__tagmore {
      width: 2px;
      height: 2px;
      top: 20px;
      right: 4px;
      &::before {
         width: 2px;
         height: 2px;
         left: 4px;
      }
      &::after {
         width: 2px;
         height: 2px;
         right: 4px;
      }
   }
   .ricsbreadcrumb__morelink{
      top: -5px;
   }
   .title{
      &--pageinfo{
         font-size: 24px;
         line-height: 0px;
         margin-top: 15px;
         margin-left: 15px;
      }
      &--smalldesc{
         font-size: 12px;
         margin-top: 10px!important;
      }
      &-size{
         &--xxlrg{
            font-size: 39px;
         }
         &--xsmd {
            font-size: 12px!important;
            line-height: 14px!important;
         }
         &--pmd{
            font-size: 16px;
            line-height: 22px;
         }
         &--lmd{
            font-size: 19px!important;
            line-height: 25px!important;
         }
         &--dxsmdfstbgfnt{
            font-size: 19px!important;
            line-height: 25px!important;
            &::first-letter{
               font-size: 58px!important;
               float: left;
               line-height: 58px!important;
               padding-right: 7px;
            }
         }
         &--sm{
            font-size: 12px!important;
            line-height: 14px;
         }
         &--md{
            font-size: 16px!important;
            line-height: 22px!important;
            font-family: @Modus !important;
            &.pagelist__heading{
               font-size: 26px!important;
               line-height: 34px!important;
            }
         }
         &--lrg{
            font-size: 34px!important;
            line-height: 40px!important;
         }
         &--xmd {
            font-size: 32px;
            line-height: 40px;
            font-family: @Modus!important;
         }
         &--xmlrg {
            font-size: 30px!important;
            line-height: 38px!important;
         }
         &--jnlpghead{
            font-size: 28px;
         }
         &--jnlbrsbhead{
            font-size: 23px;
            line-height: 31px;
         }
         &--jnlcrdhead{
            font-size: 10px;
            line-height: 14px;
         }
         &--jnlcrdsbhead{
            font-size: 12px;
            line-height: 16px;
         }
         &--jrnlcrd{
            font-size: 18px!important;
            line-height: 23px!important;
         }
         &--special{
            font-size: 24px;
            line-height: 38px;
         }
      }
   }
   .para{
      font-size: 14px;
      &--txtwithleftcol1space{
         margin-left: 0!important;
         padding-left: 0px;
      }
      &--imgbtm{
         margin-left: 5%!important;
         margin-right: 5%;
         margin-top: 15px;
         width: 90%;
         max-width: 90%;
      }
      &-size{
         &--cf{
            font-size: 15px;
            line-height: 21px;
         }
         &--md{
            font-size: 14px!important;
            line-height: 20px!important;
         }
         &--lmd{
            line-height: 16px!important;
         }
         &--artdesc{
            font-size: 11px!important;
            line-height: 15px!important;
         }
         &--lrg{
            font-size: 20px;
            line-height: 24px;
         }
         &--jnlpghead{
            font-size: 17px;
            line-height: 27px;
         }
      }
   }
   .grdoverlay{
      height: 349px;
   }
   .ricslighbox{
      &__closeicon{
         right: 3%;
      }
   }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
   
}

// // Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) { ... }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991.98px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199.98px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }